{% extends "core/base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'ergo/js/funcionesErgometriaEdita.js' %}"></script>
<style>
/* Customize the label (the container) */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 22px;
  	width: 22px;
  	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #009688	;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>


{% if perms.ergo.view_ergometria and user.is_authenticated %}

<form method="POST">
	{% csrf_token %}
	
<div class="container padre col-md-10 mt-5">
	<div class="card mt-5 col-md-12 bordes1" style="background-color: #263238; ">
				<div class="mt-5 ml-md-5 form-group form-inline " style="display: none;">
					{{form.paciente_ergo}}
					{{form.estudio}}
				</div>
				<input type="text" id="edad" value="{{edad}}" style="display: none;">
				<div class="row ml-2 mr-2 mt-3">
				
				
				<div class="col-md-3 mt-5 form-inline">
								
							  
									
						<label class="cont ">
								{{form.ciclo_ergo}}
								<label class="form-check-label" style="font-size: medium;" for="autoSizingCheck"> CICLO ÉRGONOMETRO(Kgm)</label>
								<span class="checkmark ml-1"></span>
							  </label>
							
				</div>
				

				<div class="form-group col-md-3 mt-3">
						  <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">Carga</label>
						   {{form.carga}}
				</div>
				
				<div class="col-md-3 mt-3 form-group">
				
							<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">ST</label>
							{{form.st}}
				</div>
				
				<div class="col-md-3 mt-3 form-group"> 
							<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">ST(mm)</label>
										{{form.st_mm}}
				</div>
						 
				  
				</div> 
			
				<div class="row mr-2">
						
				<div class="col-md-3 mt-5 form-inline">
						<label class="cont ">
								{{form.banda_ergo}}
								<label class="form-check-label ml-4" style="font-size: medium;" for="autoSizingCheck"> BANDA DESLIZANTE(%Grad/Km/h)</label>
								<span class="checkmark ml-4"></span>
							  </label>
				</div>
				
				<div class="col-md-3 mt-3 form-group">
						  <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">METS</label>
						   {{form.mets}}
				
				</div>
		
				<div class="col-md-3 mt-3 form-group">
				
							<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAS BASAL</label>
							{{form.tas_basal}}
				</div>

				
				
				<div class="col-md-3 mt-3 form-group"> 
							<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAS ESFUERZO</label>
										{{form.tas_esfuerzo}}
				</div>
						 
				  
				</div> 
			
				<div class="row ml-2 mr-2">
						
				
					
				  <div class="col-md-3 mt-3 form-group ml-auto">
						  
										<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAD BASAL</label>
										  {{form.tad_basal}}
							  </div>
					<div class="col-md-3 mt-3 form-group">
											<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAD ESFUERZO</label>
											{{form.tad_esfuerzo}}
											 
									 </div>
				  
				</div>
			
				<div class="row mr-2 ml-2">
						
				<div class="col-md-3 mt-3 form-group ">
								<label  for="inlineFormCustomSelectPref">FC BASAL</label>
								{{form.fc_basal}}
			
			
						  </div>
				
					 <div class="col-md-3 mt-3 form-group ">
								<label for="inlineFormCustomSelectPref">FC ESFUERZO</label>
								{{form.fc_esfuerzo}}
			  </div>
				<div class="col-md-3 mt-3 form-group ">
								<label for="inlineFormCustomSelectPref">TA PLANA</label>
								 {{form.ta_plana}}
								 </div>
						<div class="col-md-3 mt-3 form-group"> 
							<label class="control-label " for="inlineFormInput">FCM-EDAD:</label>
							{{form.fcm_edad}}
										 </div>
						 
				  
				</div> 
			
				<div class="row mr-2 ml-2">
						
				<div class="col-md-3 mt-3 form-group ">
								<label for="inlineFormCustomSelectPref">MOTIVO DE SUSPENSIÓN</label>
								{{form.motivo_suspencion}}
			
			
						  </div>
				<div class="col-md-3 mt-3 form-group ">
								<label for="inlineFormCustomSelectPref">SÍNTOMAS</label>
								  {{form.sintomas}}
								  </div>
						<div class="col-md-3 mt-3 form-group ml-auto"> 
							<label class="control-label " for="inlineFormInput">%FCPM:</label>
										{{form.percent_fcmp}}
										 </div>
						 
				  
				</div> 
			
				<div class="row mr-2 ml-2">
						
				<div class="col-md-3 mt-3 form-group">
								<label  for="inlineFormCustomSelectPref">ARRITMIA SV</label>
								{{form.arritmia_sv}}
			
			
						  </div>
				
						 <div class="col-md-3 mt-3 form-group">
								<label class=" mr-4" for="inlineFormCustomSelectPref">ARRITMIA V</label>
								{{form.arritmia_v}}
								</div>
			
						<div class="col-md-3 mt-3 form-group ml-auto"> 
							<label class="control-label " for="inlineFormInput">ITT:</label>
							{{form.itt}}
										 </div>
			
				</div> 
			
				<div class="row ml-auto mb-3 mt-3 mr-4"> 
						{% if perms.ergo.change_ergometria %}
								<button type="submit" class="btn btn-success ml-auto bordes1" > Guardar</button>
								{% else %}
								<a href="{% url 'listaergo' %}" class="btn btn-success ml-auto bordes1">Volver</a>
								{% endif %}		
				</div>
	</div>
</div>

</form>
{% else %}
<div class="container mt-md-5 padre medio">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
					<div class="row padre medio">
					<a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
{% endif %}
 <style>
 	
 	label{
 		color: white;
 	}
	 .padre{
	  display: flex;
	  justify-content: center;
	  align-items: center;

}

.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}


 </style>
{% endblock content %}