{% extends "core/base.html" %}
{%block title%} <title>Ergometria</title>{%endblock%}
{% block content %}
{% load static %} <!-- Override files  -->
 <!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
<link rel="stylesheet" href="{% static 'ergo/css/estilosErgometria.css' %}">
<script src="{% static 'ergo/js/funcionesErgometria.js' %}"></script>

<style>
  
  .boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0; width: 50px; height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}

.padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;
}

body{
   overflow-x: hidden;
}

label{
 		color: white;
 	}	
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 22px;
  	width: 22px;
  	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #009688	;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.medio{
    justify-content: center;
    display: flex;
  }
</style>

{% if user.is_authenticated and perms.ergo.add_ergometria %}

	<div class="row mt-5">
			<div class="col-md-6">
				<form method="GET">
					{% csrf_token %}
					<div class="row ml-3 mb-4>																																																																																														 mt-4" >
						<input type="text" class="boton" placeholder="Buscar Paciente" name="q"  >
						<button type="submit" class="boton2"><i class="fa fa-search"></i></button>
					</div>
				</form>
				</div>
				<div class="col-md-6 d-flex mt-4 mb-3">
				  
				<form method="POST" class="ml-sm-auto ml-3  ">
					<a href="{% url 'listaergo' %}" class="btn btn-info ml-auto mr-3 bordes1" style="height: 40px; font-size: large;">Lista de Ergometrías</a>
				</form>
				</div>
</div>

<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->

<div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm mt-md-2 ">
  <table class="table table-dark table-hover table-striped "id="table" data-toggle="table" data-height="200"  >
    <thead style="background-color: #009688;">
      <tr>
       <th>Paciente</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
		  <th>Fecha de estudio</th>
          <th>Cobertura médica</th>
          <th>Número de afiliado</th>
          
      </tr>
    </thead>
    <tbody>
      {% if eventos %}
    {% for k in eventos %}
  <tr>
      <th><input type="radio" value="{{k.pacientes.id_pac}}" name="d" fechaNacimiento="{{k.pacientes.fecha_nacimiento}}" idEstudio="{{k.id_estudio}}" nombre="{{k.pacientes.nombre}} {{k.pacientes.apellido}}"></th>
          <td>{{k.pacientes.nombre}}</td>
          <td>{{k.pacientes.apellido}}</td>
          <td>{{k.pacientes.dni}}</td>
		  <td>{{k.fechaAcutal}}</td>
          <td>{{k.pacientes.cobertura_medica}}</td>
          <td>{{k.pacientes.numero_afilido}}</td>
         
    </tr>
    {% endfor %}
    {% else %}
    {% endif %}
    </tbody>
  </table>
</div>

<form method="POST" onsubmit="return validar();">
	{% csrf_token %}
	
	<input type="text" name="paciente_ergo" id="id_pac_ergo" style="display:none;">
	  <input type="text" name="estudio" id="id_pac_estudio" style="display:none;">

<div class="row padre mx-4">
	<div class="card col-md-9 padre bordes1 mb-md-4 mt-md-5 " style="background-color: #263238; font-size: medium;">

				<div class="row mt-5 ml-2 mr-4" >

						<div class="col-md-3 mt-4 form-group ">
								<label class="container">
										<input class="form-check-input " type="checkbox" name="ciclo_ergo" id="CicloErgonometro"  onchange="IngresoErgometria(this.value, this.id);" >
										<label class="form-check-label"  for="autoSizingCheck" style="font-size:small;"> CICLO ÉRGONOMETRO(Kgm)</label>
										<span class="checkmark mt-2"></span>
									  </label>
								
					
				</div>
				
					
					
					<div class="col-md-3 form-group">	
							<label class="control-label" for="inlineFormInput">Carga</label>
							<input  type="text" class="form-control bordes" id="icarga" name="carga" autocomplete="off" onkeyup="asignarCarga(this.value);"  title="En caso de error seleccionar todo y borrar">
					</div>

					<div class="col-md-3 form-group">
					
								<label class="control-label " for="inlineFormInput">ST</label>
								<select class="form-control bordes" name="st" id="1" required="">
										<option value="">Seleccione</option>  
										<option value="NO">NO</option>
										<option value="Supradesnivel">Supradesnivel</option>
										<option value="Infradesnivel Asc">Infradesnivel Asc.</option>
										<option value="Infradesnivel Desc">Infradesnivel Desc.</option>
									  </select>
					</div>
					
					<div class="col-md-3 form-group"> 
								<label class="control-label " for="inlineFormInput">ST(mm)</label>
											<!-- <input type="text" class="form-control bordes ml-md-2 col-md-4" name="st_mm"> -->
											<select class="form-control ml-sm-2 mr-sm-2  bordes" id="2" name="st_mm"  required="">
												<option value="">Seleccione</option>  
												<option value="0">0</option>
												<option value="0.5">0,5</option>
												<option value="1">1</option>
												<option value="1.5">1,5</option>
												<option value="2">2</option>
												<option value="2.5">2,5</option>
												<option value="3">3</option>
												<option value="3.5">3,5</option>
												<option value="4">4</option>
												<option value=">4">>4</option>
											  </select>
					</div>
						  
				</div> 	
			
				<div class="row mt-3 ml-2 mr-4" >
						
					<div class="col-md-3 form-group mt-4 ">
							<label class="container">
									<input class="form-check-input" type="checkbox" id="bandaDeslizante" onchange="IngresoErgometria(this.value, this.id);"  name="banda_ergo" required="">
									<label class="form-check-label" for="autoSizingCheck" style="font-size:small;"> BANDA DESLIZANTE(%Grad/Km/h)</label>
									<span class="checkmark mt-2"></span>
								  </label>
								
							
								
					</div>
					
					<div class="col-md-3 form-group">
							<label class="control-label  " for="inlineFormInput">METS</label>
							<input type="text" class="form-control  bordes" id="3" name="mets"  required="" autocomplete="off" maxlength="4" >
					</div>

					<div class="col-md-3 form-group">
					
								<label class="control-label " for="inlineFormInput">TAS BASAL</label>
								<input type="text" class="form-control  bordes" id="4" name="tas_basal" required="" autocomplete="off" maxlength="3">
					</div>
					
					<div class="col-md-3 form-group"> 
								<label class="control-label ml-1" for="inlineFormInput">TAS ESFUERZO</label>
											<input type="text" class="form-control  ml-sm-2 bordes " id="itas_esfuerzo" name="tas_esfuerzo" onchange="calcular();"  required="" autocomplete="off" maxlength="3">
					</div>
						 
				</div> 
			
				<div class="row form-group mt-3 ml-2 mr-4 " >
						
				  <div class="form-group ml-auto col-md-3">
												<label class="control-label" for="inlineFormInput">TAD BASAL</label>
												<input type="text" class="form-control bordes " name="tad_basal" id="5" required="" autocomplete="off" maxlength="3">
										
							  </div>
					<div class="col-md-3 form-group " >
											<label class="control-label ml-1" for="inlineFormInput">TAD ESFUERZO</label>
											<input type="text" class="form-control ml-xs-2 ml-sm-2  bordes" name="tad_esfuerzo" id="6"  required="" autocomplete="off" maxlength="3">
											 
									 </div>
				  
				</div>
					
				<div class="row form-group mt-2 ml-2 mr-4">
						
				<div class= "col-md-3 form-group">
								<label  for="inlineFormCustomSelectPref">FC BASAL:</label>
								<input type="text" class="form-control bordes ml-xs-2 ml-sm-2" name="fc_basal" id="7" required="" autocomplete="off" maxlength="3">
				  </div>
				
					 <div class="col-md-3 form-group">
								<label for="inlineFormCustomSelectPref">FC ESFUERZO:</label>
								<input type="text" class="form-control bordes"  id="ifc_esfuerzo" name="fc_esfuerzo" onchange="calcular();" required="" autocomplete="off"  maxlength="3">
			  </select></div>
				<div class="col-md-3 form-group" >
								<label class="" for="inlineFormCustomSelectPref">TA PLANA:</label>
								 <!-- <input type="text" class="form-control ml-sm-2" id="inlineFormInput" name="ta_plana"> -->
								 <select class="form-control bordes" id="8" name="ta_plana"  required="">
									<option value="">Seleccione</option>  
									<option value="SI">SI</option>
									<option value="NO">NO</option>
								  </select>
								 </div>
						<div class="col-md-3 form-group"> 
							<label class="control-label ml-1" for="inlineFormInput">FCM-EDAD:</label>
							<input type="text" class="form-control ml-xs-2 bordes" id="ifcm"  name="fcm_edad"  required title="El calculo de FCM-EDAD se realizara automaticamente." readonly="" autocomplete="off">
										 </div>
						 
				  
				</div> 
			
				<div class="row form-group mt-3 ml-1 mr-4">
						
				<div class="col-md-4 form-group ">
								<label  for="inlineFormCustomSelectPref">MOTIVO DE SUSPENSIÓN</label>
								<!-- <input type="text" class="form-control ml-sm-2" id="inlineFormInput" name="motivo_suspencion"> -->
								<select class="form-control bordes" id="9" name="motivo_suspencion"  required="">
									<option value="">Seleccione</option>  
									<option value="Completó Protocolo">Completó Protocolo</option>
									<option value="Agotamiento Muscular">Agotamiento Muscular</option>
									<option value="Arritmia Ventricular">Arritmia Ventricular</option>
									<option value="Descenso TA">Descenso TA</option>
									<option value="Angor">Angor</option>
									<option value="Disnea">Disnea</option>
									<option value="ST">ST</option>
									<option value="Arritmia SV">Arritmia SV</option>
									
								  </select>
			
						  </div>
				<div class="col-md-4 form-group">
								<label for="inlineFormCustomSelectPref">SÍNTOMAS</label>
								  <!-- <input type="text" class="form-control ml-sm-2" id="inlineFormInput" name="sintomas"> -->
								  <select class="form-control bordes" id="10" name="sintomas" required="">
									<option value="">Seleccione</option>  
									<option value="Angor">Angor</option>
									<option value="Disnea">Disnea</option>
									<option value="Otros">Otros</option>
								  </select>
								  </div>
						<div class="col-md-4 form-group ml-auto"> 
							<label class="control-label ml-1" for="inlineFormInput">%FCPM:</label>
										<input type="text" class="form-control bordes ml-xs-2" id="ifcmp" name="percent_fcmp"  required title="El calculo de %FCPM se realizara automaticamente." readonly="">
										 </div>
						 
				  
				</div> 
			
				<div class="row form-group mt-3 ml-1 mr-4">
						
				<div class="col-md-4 form-group">
								<label for="inlineFormCustomSelectPref">ARRITMIA SV</label>
								<!-- <input type="text" class="form-control ml-sm-2" id="inlineFormInput" name="arritmia_sv"> -->
								<select class="form-control bordes" id="11" name="arritmia_sv" required="">
									<option value="">Seleccione</option>  
									<option value="FA">FA</option>
									<option value="TPS">TPS</option>
									<option value="TAQUI">TAQUI</option>
								  </select>
			
						  </div>
				
						 <div class="col-md-4 form-group">
								<label for="inlineFormCustomSelectPref">ARRITMIA V</label>
								<!-- <input type="text" class="form-control ml-sm-2" id="inlineFormInput" name="arritmia_v"> -->
								<select class="form-control bordes " id="12" name="arritmia_v" required="">
									<option value="">Seleccione</option>  
									<option value="EV">EV</option>
									<option value="Compleja">Compleja</option>
									<option value="TV">TV</option>
								  </select>
								</div>
			
						<div class="col-md-4 form-group"> 
							<label class="control-label ml-1" for="inlineFormInput">ITT:</label>
							<input type="text" class="form-control ml-xs-2 bordes" id="iitt" name="itt"  required=""  readonly title="El calculo de ITT se realiza automaticamente." >
										 </div>
			
				</div>
				
				<div class="row d-flex mr-4">
						<div class="form-group ml-auto mr-2" >
								<button type="button" onclick="ValidarEnvioFormulario();" class=" btn btn-success bordes1 " style="font-size: large;">Guardar</button>
								</div>
				</div>
				
				<button id="enviarFormulario" style="display:none;"></button>
				
				
	</div> 
	
</div>



</form>

{% else %}
{% if perms.ergo.view_ergometria %}

<div class="container mt-md-5 padre medio">
        <div class="row mt-md-5 ">
        <div class="mt-md-5">
            <div class="mt-md-5">
                <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
                    <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario solo tiene permisos para ver estudios de ergometrías</h3>
                    <div class="row padre medio">
							<a type="button" href="{% url 'listaergo' %}" class="btn ml-auto mr-md-2 mx-2" style="height: 45px; background-color:#009688; color:white; font-family: 'Raleway', sans-serif;
							font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;"  >Lista de ergometrías</a>
                    </div> 
                    </div>
            </div>
        </div>
        </div>
       </div>
{% comment %} hacer el recuadro para que puedan acceder los usuarios que puedan ver el estudio {% endcomment %}
{% else %}
<div class="container mt-md-5  medio">
	<div class="row mt-md-5 ">
	<div class="mt-md-5">
		<div class="mt-md-5">
			<div class="card mt-md-5 col-md-auto bordes1" style="background-color: #263238; padding: 10px; top: 160px;left: -10px;width: 100%;">
				<h3 class="mt-md-5 mb-md-5" style="color:white;text-align: center;">Este usuario no está autenticado</h3>
				<div class="row  medio">
				<a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
				</div> 
				</div>
		</div>
	</div>
	</div>
   </div>
{% comment %} hacer un recuadro y boton {% endcomment %}
{% endif %}


{% endif %}


{% endblock %}