{% extends "core/base.html" %}  
{% load static %}
{% block content %}
<script src="{% static 'mpi/js/funcion2.js' %}"></script>
<link rel="stylesheet" href="{% static 'mpi/css/estilosMpi.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<style>



@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
 
  .padre {

/* background-color: red  !important; */
height: 0px !important; width: 0px !important; /*oculto el card*/

}
body::after {
    
	background-color: #263238; /* cambio color del body heredado*/
   
} 
  .desplazando{ /*stress*/
	position: absolute !important;
	top: 20px !important;
	left: -250px !important;

 }
 .desplazandoinputStress{
	position: absolute !important;
	top: 20px !important;
	left: -450px !important;

 }

 .desplazando2{
position: absolute !important;
	top: 600px !important;
	left: -250px !important;

 }

 .desplazandoinputRest{
	position: absolute !important;
	top: 600px !important;
	left: -295px !important;

 }

   .desplazando3{
position: absolute !important;
	top: 1200px !important;
	left: -250px !important;

 }
 .desplazandoinputDif{
	position: absolute !important;
	top: 1200px !important;
	left: -300px !important;


 }


 .desplazarBoton{
	position: absolute !important;
	top: 1700px !important;
	left: -30px !important;
	margin-bottom: 10px;
 }

  }


  .ssd_derecha{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 1000px;
top: 100px;
}

.sss_izquierda{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 0px;
top: 100px;
}

.ssr_centro{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 500px;
top: 100px;
}







 .bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}

body{
	overflow-x: hidden;
}
</style>
{% if perms.mpi.view_mpi and user.is_authenticated %}
<center><div class="card mb-md-5 padre" style="background-color: #263238; position: relative; top:200px; height: 690px; width: 1500px;border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
<form method="POST" enctype="multipart/form-data">
	 {% csrf_token %}

	{{form.estudio}}

	{{form.paciente_mpi}}
			<br>
			<br>
			<br>


	<br> 
		
		<!-- *********************************************************ARCHIVOS PARA EL CIRCULO******************************* -->

					<img src="{% static 'mpi/image/1.png' %}" alt="" class="sss_izquierda par-img1 desplazando "id="sss1-img" >
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="sss_izquierda par-img3 desplazando"id="sss3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="sss_izquierda par-img11 desplazando"id="sss11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="sss_izquierda par-img17 desplazando"id="sss17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="sss_izquierda par-img15 desplazando " id="sss15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="sss_izquierda par-img7 desplazando"id="sss7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="sss_izquierda par-img2 desplazando" id="sss2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="sss_izquierda par-img4 desplazando " id="sss4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="sss_izquierda par-img12 desplazando "id="sss12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="sss_izquierda par-img16 desplazando" id="sss16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="sss_izquierda par-img14 desplazando"id="sss14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="sss_izquierda par-img6 desplazando "id="sss6-img">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="sss_izquierda par-img5 desplazando"id="sss5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="sss_izquierda par-img8 desplazando"id="sss8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="sss_izquierda par-img13 desplazando"id="sss13-img" > <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="sss_izquierda par-img10 desplazando"id="sss10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="sss_izquierda par-img9 desplazando"id="sss9-img">
				
			
			
			
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssr_centro desplazando2" id="ssr1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssr_centro desplazando2" id="ssr3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssr_centro desplazando2" id="ssr11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssr_centro desplazando2" id="ssr17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssr_centro desplazando2" id="ssr15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssr_centro desplazando2" id="ssr7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssr_centro desplazando2" id="ssr2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssr_centro desplazando2" id="ssr4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssr_centro desplazando2" id="ssr12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssr_centro desplazando2" id="ssr16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssr_centro desplazando2" id="ssr14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssr_centro desplazando2" id="ssr6-img" >
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssr_centro desplazando2" id="ssr5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssr_centro desplazando2" id="ssr8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssr_centro desplazando2" id="ssr13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssr_centro desplazando2" id="ssr10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssr_centro desplazando2" id="ssr9-img">
				
				
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssd_derecha par-img1 desplazando3" id="ssd1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssd_derecha par-img3 desplazando3" id="ssd3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssd_derecha par-img11 desplazando3" id="ssd11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssd_derecha par-img17 desplazando3" id="ssd17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssd_derecha par-img15 desplazando3" id="ssd15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssd_derecha par-img7 desplazando3" id="ssd7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssd_derecha par-img2 desplazando3" id="ssd2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssd_derecha par-img4 desplazando3" id="ssd4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssd_derecha par-img12 desplazando3" id="ssd12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssd_derecha par-img16 desplazando3" id="ssd16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssd_derecha par-img14 desplazando3" id="ssd14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssd_derecha par-img6 desplazando3" id="ssd6-img">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssd_derecha par-img5 desplazando3" id="ssd5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssd_derecha par-img8 desplazando3" id="ssd8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssd_derecha par-img13 desplazando3" id="ssd13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssd_derecha par-img10 desplazando3" id="ssd10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssd_derecha par-img9 desplazando3" id="ssd9-img">
				
			
		
			
			
			
			{{form.sss}}
			
			{{form.ssr}}
		
			{{form.ssd}}
			<!-- ---------------------------------------------INPUTS-------------------------------------------------------- -->
		
			<!-- ********************************************************SSS********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: -200px;" class="desplazandoinputStress" > <!-- Modificando el left se mueven todos los input -->

				<h1 style=" position:absolute;left: 375px; color: white; top: -50px;"  >STRESS</h1>




				{{form.s1_stress}}
			
				{{form.s2_stress}}
				
				{{form.s3_stress}}
			
				{{form.s4_stress}}
			
				{{form.s5_stress}}
			
				{{form.s6_stress}}
			
				{{form.s7_stress}}
			
				{{form.s8_stress}}
			
				{{form.s9_stress}}
			
				{{form.s10_stress}}
			
				{{form.s11_stress}}
			
				{{form.s12_stress}}
			
				{{form.s13_stress}}
			
				{{form.s14_stress}}
			
				{{form.s15_stress}}
			
				{{form.s16_stress}}
			
				{{form.s17_stress}}

				
						<div class="form-inline " style="position: absolute; bottom: -20px;" >
                <div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 300px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSS</strong></p>
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning "  id="sss" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
   
    </div><p></p>
  </div>
</div>
			</div>
			
			
			<!-- ********************************************************SSR********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 455px;" class="desplazandoinputRest"> <!-- Modificando el left se mueven todos los input -->

				<h1 style=" position:absolute;left: 250px; color: white; top: -50px;" >REST</h1>
				
				
				{{form.s1_rest}}
			
				{{form.s2_rest}}
				
				{{form.s3_rest}}
			
				{{form.s4_rest}}
			
				{{form.s5_rest}}
			
				{{form.s6_rest}}
			
				{{form.s7_rest}}
			
				{{form.s8_rest}}
			
				{{form.s9_rest}}
			
				{{form.s10_rest}}
			
				{{form.s11_rest}}
			
				{{form.s12_rest}}
			
				{{form.s13_rest}}
			
				{{form.s14_rest}}
			
				{{form.s15_rest}}
			
				{{form.s16_rest}}
			
				{{form.s17_rest}}
	<div class="form-inline " style="position: absolute; bottom: -20px;" >
	 <div class="progress offset-0" style="width:300px ; height: 30px; position:absolute;left: 150px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSR</strong></p>
     <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"  id="ssr" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
   
    </div><p></p>
  </div>
  </div>
			</div>
			
			
			<!-- ********************************************************SSD********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 950px;" class="desplazandoinputDif"> <!-- Modificando el left se mueven todos los input -->
				<h1  style=" position:absolute;left: 180px; color: white; top: -50px;" >DIFFERENCE</h1>
				
				{{form.s1_dif}}
			
				{{form.s2_dif}}
				
				{{form.s3_dif}}
			
				{{form.s4_dif}}
			
				{{form.s5_dif}}
			
				{{form.s6_dif}}
			
				{{form.s7_dif}}
			
				{{form.s8_dif}}
			
				{{form.s9_dif}}
			
				{{form.s10_dif}}
			
				{{form.s11_dif}}
			
				{{form.s12_dif}}
			
				{{form.s13_dif}}
			
				{{form.s14_dif}}
			
				{{form.s15_dif}}
			
				{{form.s16_dif}}
			
				{{form.s17_dif}}
				<div class="form-inline " style="position: absolute; bottom: -20px;" >
 				<div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 150px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSD</strong></p>
   			 <div class="progress-bar progress-bar-striped progress-bar-animated "  id="ssd" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
   
   			 </div><p></p>
  			</div>
		</div>
			</div>
			<!-------------------Boton Guardar------------------------->	
			<div class="ml-md-5 desplazarBoton" style="top:630px; left: 1300px; position:absolute;">
					{% if perms.mpi.change_mpi %}
					<input type="submit" class="bordes1 btn btn-success"  value="Guardar">
					{% else %}
					<a href="{% url 'listampi' %}" class="btn btn-success ml-auto bordes1">Volver</a>
					{% endif %}
					
				</div> 		
</form>
</div></center>
{% else %}
   <div class="container mt-md-5 padre medio">
            <div class="row mt-md-5 ">
            <div class="mt-md-5">
                <div class="mt-md-5">
                    <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
                        <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
                        <div class="row padre medio">
                        <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
                        </div> 
                        </div>
                </div>
            </div>
            </div>
           </div>
{% endif %}


{% endblock content %}