{% extends "core/base.html" %}

{%block title%} <title>Funcion Ventricular</title>    {%endblock%}


{% block content %}
{% load static %}
<script src="{% static 'mpi/js/funciones.js' %}"></script>
<link rel="stylesheet" href="{% static 'mpi/css/estilosMpi.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=0.7">

<style>
	@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
.header{
	position: fixed ;
  /*width: 100% !important;*/


}





.desplazarBoton{
	position: absolute !important;
	top: 1850px !important;
	left: 200px !important;

 }

 .botonPermiso{
	position: relative !important;
	top: 50px !important;
	left: -38px !important;
 }
.padre {

/* background-color: red  !important; */
height: 2000px !important; width: auto !important; /*oculto el card*/

}

.madre {

/* background-color: red  !important; */
height: 150px !important; width: 320px !important; /*oculto el card*/

}

.fondo {

/* background-color: red  !important; */
/* height: 0px !important; width: 0px !important; */
background-color: #e8f5e9 !important; /*color dl fondo de el boton busqueda*/
}


body::after .padre{
    
            background-color: #263238; /* cambio color del body heredado*/
           
}  

center{
	background-color: #263238; /* cambio color del body heredado*/
}

.desplazando{ /*stress*/
	position: absolute !important;
	top: 100px !important;
	left: 0px !important;
	/* width: 100% !important; */
	/*font-size: 10px !important;*/
 /*font-size: 10px !important;*/
 /*font-weight: 10px !important;*/
 /*color: red !important;*/

/*max-width: 800px;
  min-width: 300px;*/
 }


 .desplazando2{
position: absolute !important;
	top: 700px !important;
	left: 0px !important;

 }
   .desplazando3{
position: absolute !important;
	top: 1300px !important;
	left: 0px !important;

 }
}


.ssd_derecha{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 1000px;
top: 100px;
}

.sss_izquierda{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 0px;
top: 100px;
}

.ssr_centro{
position: absolute;
width: 500px;
height: 450px;
/*bottom: 0px;*/
left: 500px;
top: 100px;
}

.form1{
	position: relative;
	top: 35px;
}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}


body{
   overflow-x: hidden;
}

.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}
.medio{
    justify-content: center;
    display: flex;
  }



/* 
  @media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
	#mover{
	/* margin-right: 20px !important; */
	/* position: relative;
	right: 50px !important; *
	
} 
}*/


</style>

<body>
		{% if perms.mpi.add_mpi and user.is_authenticated %}
		<!-- ******************************************************************FORMULARIO BUSQUEDA************************************************************* -->
<div class="row mt-5 fondo">
                    <div class="col-md-6">
                        <form method="GET">
                            {% csrf_token %}
                            <div class="row ml-3 mb-1>																																																																																														 mt-4" >
                                <input type="text" class="boton" placeholder="Buscar Paciente" name="q"  >
                                <button type="submit" class="boton2"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-6 d-flex mt-4">
                          
                        <form method="POST" class="ml-sm-auto ml-3 mb-2">
							<a href="{% url 'listampi' %}" class="btn btn-info ml-auto mr-3 bordes1" style="height: 40px; font-size: large;">Lista de Cámaras Gamma</a>
					    </form>
                        </div>
</div>
	 
	
			<table class="table table-dark " id="table"  data-toggle="table" data-height="200"  >
					<thead style="background-color: #009688;">
					  <tr>
					   <th>Paciente</th>
						  <th>Nombre</th>
						  <th>Apellido</th>
						  <th>DNI</th>
						  <th>Fecha de estudio</th>
						  <th>Cobertura medica</th>
						  <th>Numero de afiliado</th>
						   
					  </tr >
					</thead>
					<tbody>
					  {% if eventos %}
					{% for k in eventos %}
				  <tr>
					  <th><input type="radio" value="{{k.pacientes.id_pac}}" name="d" id="{{k.pacientes.fecha_nacimiento}}" id_Estudio="{{k.id_estudio}}"  nombre="{{k.pacientes.nombre}} {{k.pacientes.apellido}}"></th>
						  <td>{{k.pacientes.nombre}}</td>
						  <td>{{k.pacientes.apellido}}</td>
						  <td>{{k.pacientes.dni}}</td>
						  <td>{{k.fechaAcutal}}</td>
						  <td>{{k.pacientes.cobertura_medica}}</td>
						  <td>{{k.pacientes.numero_afilido}}</td>
					</tr>
					{% endfor %}
					{% else %}
					{% endif %}
					</tbody>
				  </table>

	 
	<center><div class="card mb-md-5 padre mt-md-4" style="background-color: #263238; height: 670px; width: 1500px;border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">
			<form action="" method="POST">
					{% csrf_token %}
					<input type="text" name="paciente_mpi" id="id_pac_mpi" style="display:none;"> <!-- id del paciente seleccionado de la tabla -->
					<input type="text" name="estudio" id="id_estudio_mpi" style="display:none;">
					
				<div class="row">
					<!-- *********************************************************ARCHIVOS PARA EL CIRCULO******************************* -->
		
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="sss_izquierda par-img1 desplazando" >
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="sss_izquierda par-img3 desplazando">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="sss_izquierda par-img11 desplazando ">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="sss_izquierda par-img17 desplazando">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="sss_izquierda par-img15 desplazando">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="sss_izquierda par-img7 desplazando">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="sss_izquierda par-img2 desplazando">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="sss_izquierda par-img4 desplazando">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="sss_izquierda par-img12 desplazando">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="sss_izquierda par-img16 desplazando" >
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="sss_izquierda par-img14 desplazando">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="sss_izquierda par-img6 desplazando">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="sss_izquierda par-img5 desplazando">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="sss_izquierda par-img8 desplazando">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="sss_izquierda par-img13 desplazando" > <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="sss_izquierda par-img10 desplazando">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="sss_izquierda par-img9 desplazando">
				
			
			
			
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssr_centro desplazando2" id="ssr1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssr_centro desplazando2" id="ssr3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssr_centro desplazando2" id="ssr11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssr_centro desplazando2" id="ssr17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssr_centro desplazando2" id="ssr15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssr_centro desplazando2" id="ssr7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssr_centro desplazando2" id="ssr2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssr_centro desplazando2" id="ssr4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssr_centro desplazando2" id="ssr12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssr_centro desplazando2" id="ssr16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssr_centro desplazando2" id="ssr14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssr_centro desplazando2" id="ssr6-img" >
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssr_centro desplazando2" id="ssr5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssr_centro desplazando2" id="ssr8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssr_centro desplazando2" id="ssr13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssr_centro desplazando2" id="ssr10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssr_centro desplazando2" id="ssr9-img">
				
				
					<img src="{% static 'mpi/image/1.png' %}" alt="" class="ssd_derecha par-img1 desplazando3" id="ssd1-img">
					<img src="{% static 'mpi/image/2.png' %}" alt="" class="ssd_derecha par-img3 desplazando3" id="ssd3-img">
					<img src="{% static 'mpi/image/3.png' %}" alt="" class="ssd_derecha par-img11 desplazando3" id="ssd11-img">
					<img src="{% static 'mpi/image/4.png' %}" alt="" class="ssd_derecha par-img17 desplazando3" id="ssd17-img">
					<img src="{% static 'mpi/image/5.png' %}" alt="" class="ssd_derecha par-img15 desplazando3" id="ssd15-img">
					<img src="{% static 'mpi/image/6.png' %}" alt="" class="ssd_derecha par-img7 desplazando3" id="ssd7-img">
					<img src="{% static 'mpi/image/7.png' %}" alt="" class="ssd_derecha par-img2 desplazando3" id="ssd2-img">
					<img src="{% static 'mpi/image/8.png' %}" alt="" class="ssd_derecha par-img4 desplazando3" id="ssd4-img">
					<img src="{% static 'mpi/image/9.png' %}" alt="" class="ssd_derecha par-img12 desplazando3" id="ssd12-img">
					<img src="{% static 'mpi/image/10.png' %}" alt="" class="ssd_derecha par-img16 desplazando3" id="ssd16-img">
					<img src="{% static 'mpi/image/11.png' %}" alt="" class="ssd_derecha par-img14 desplazando3" id="ssd14-img">
					<img src="{% static 'mpi/image/12.png' %}" alt="" class="ssd_derecha par-img6 desplazando3" id="ssd6-img">
					<img src="{% static 'mpi/image/13.png' %}" alt="" class="ssd_derecha par-img5 desplazando3" id="ssd5-img">
					<img src="{% static 'mpi/image/14.png' %}" alt="" class="ssd_derecha par-img8 desplazando3" id="ssd8-img">
					<img src="{% static 'mpi/image/15.png' %}" alt="" class="ssd_derecha par-img13 desplazando3" id="ssd13-img"> <!-- no me convence mucho -->
					<img src="{% static 'mpi/image/16.png' %}" alt="" class="ssd_derecha par-img10 desplazando3" id="ssd10-img">
					<img src="{% static 'mpi/image/17.png' %}" alt="" class="ssd_derecha par-img9 desplazando3" id="ssd9-img">
				
			
			
			
			
			<input type="text" id="isss" style="display:none;" name="sss"> 
			<input type="text" id="issr" style="display:none;" name="ssr">
			<input type="text" id="issd" style="display:none;" name="ssd">
			<!-- ---------------------------------------------INPUTS-------------------------------------------------------- -->
		
			<!-- ********************************************************SSS********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 0px; top: 100px;" class="desplazando"> <!-- Modificando el left se mueven todos los input -->
		
				<h1 style=" position:absolute;left: 200px; color: white; top: -50px; left: 180px;"  >STRESS</h1>
		
				<input id="isss1" type="text" class="par-i1" style=" position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_stress" readonly>
			
				<input id="isss2" type="text" class="par-i2" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_stress" readonly>
				
				<input id="isss3" type="text" class="par-i3" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_stress" readonly>
			
				<input id="isss4" type="text" class="par-i4" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;"  name="s4_stress" readonly>
			
				<input id="isss5" type="text" class="par-i5" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_stress" readonly>
			
				<input id="isss6" type="text" class="par-i6" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_stress" readonly>
			
				<input id="isss7" type="text" class="par-i7" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_stress" readonly>
			
				<input id="isss8" type="text" class="par-i8" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_stress" readonly>
			
				<input id="isss9" type="text" class="par-i9" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_stress" readonly>
			
				<input id="isss10" type="text" class="par-i10" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_stress" readonly>
			
				<input id="isss11" type="text" class="par-i11" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_stress" readonly>
			
				<input id="isss12" type="text" class="par-i12" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_stress" readonly>
			
				<input id="isss13" type="text" class="par-i13" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_stress" readonly>
			
				<input id="isss14" type="text" class="par-i14" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_stress" readonly>
			
				<input id="isss15" type="text" class="par-i15" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_stress" readonly>
			
				<input id="isss16" type="text" class="par-i16" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_stress" readonly>
			
				<input id="isss17" type="text" class="par-i17" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_stress" readonly>
		
		<div class="form-inline " style="position: absolute; bottom: -20px;" >
				<div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 105px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSS</strong></p>
		<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning "  id="sss" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		
		</div><p></p>
		</div>
		</div>
		
			</div>
			
			
			<!-- ********************************************************SSR********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 500px; top: 100px;" class="desplazando2"> <!-- Modificando el left se mueven todos los input -->
				<h1 style=" position:absolute;left: 220px; color: white; top: -50px; left:200px;" >REST</h1>
				
				<input id="issr1" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_rest" readonly>
			
				<input id="issr2" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_rest" readonly>
				
				<input id="issr3" type="text"class="" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_rest" readonly>
			
				<input id="issr4" type="text"class="" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s4_rest" readonly>
			
				<input id="issr5" type="text"class="" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_rest" readonly>
			
				<input id="issr6" type="text"class="" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_rest" readonly>
			
				<input id="issr7" type="text"class="" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_rest" readonly>
			
				<input id="issr8" type="text"class="" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_rest" readonly>
			
				<input id="issr9" type="text"class="" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_rest" readonly>
			
				<input id="issr10" type="text"class="" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_rest" readonly>
			
				<input id="issr11" type="text"class="" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_rest" readonly>
			
				<input id="issr12" type="text"class="" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_rest" readonly>
			
				<input id="issr13" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_rest" readonly>
			
				<input id="issr14" type="text"class="" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_rest" readonly>
			
				<input id="issr15" type="text"class="" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_rest" readonly>
			
				<input id="issr16" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_rest" readonly>
			
				<input id="issr17" type="text"class="" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_rest" readonly>
				<div class="form-inline " style="position: absolute; bottom: -20px;" >
		<div class="progress offset-0" style="width:300px ; height: 30px; position:absolute;left: 105px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSR</strong></p>
		<div class="progress-bar progress-bar-striped progress-bar-animated bg-success"  id="ssr" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		
		</div><p></p>
		</div>
		</div>
			</div>
			
			
			<!-- ********************************************************SSD********************************************************************* -->
			
			<div style="width: 500px;height: 450px;position: absolute; left: 1000px; top: 100px;" class="desplazando3"> <!-- Modificando el left se mueven todos los input -->
					<h1  style=" position:absolute;left: 180px; color: white; top: -50px; left: 130px;" >DIFFERENCE</h1>
				
				<input id="issd1" type="text" class="par-i1" style="position: absolute; left: 220px; background: transparent;top: 15px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s1_dif" readonly>
			
				<input id="issd2" type="text" class="par-i2" style="position: absolute; left: 220px; background: transparent;top: 70px;border: 0; outline: none; height: 45px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s2_dif" readonly>
				
				<input id="issd3" type="text" class="par-i3" style="position: absolute; left: 66px; background: transparent;top: 122px;  border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s3_dif" readonly>
			
				<input id="issd4" type="text" class="par-i4" style="position: absolute; left: 114px; background: transparent;top: 138px;  border: 0; outline: none; height: 52px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s4_dif" readonly>
			
				<input id="issd5" type="text" class="par-i5" style="position: absolute; left: 220px; background: transparent;top: 125px;border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s5_dif" readonly>
			
				<input id="issd6" type="text" class="par-i6" style="position: absolute; left: 350px; background: transparent;top: 136px;border:0 ; outline: none; height: 50px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s6_dif" readonly>
			
				<input id="issd7" type="text" class="par-i7" style="position: absolute; left: 398px; background: transparent;top: 122px;border: 0; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s7_dif" readonly>
			
				<input id="issd8" type="text" class="par-i8" style="position: absolute; left: 154px; background: transparent;top: 180px;  border:0 ; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s8_dif" readonly>
			
				<input id="issd9" type="text" class="par-i9" style="position: absolute; left: 210px; background: transparent;top: 184px;  border: 0; outline: none; height: 80px; width: 80px;text-align: center; font-size: 25px; font-weight:800;" name="s9_dif" readonly>
			
				<input id="issd10" type="text" class="par-i10" style="position: absolute; left: 310px; background: transparent;top: 180px;  border: 0; outline: none; height: 80px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s10_dif" readonly>
			
				<input id="issd11" type="text" class="par-i11" style="position: absolute; left: 66px; background: transparent;top: 280px;  border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s11_dif" readonly>
			
				<input id="issd12" type="text" class="par-i12" style="position: absolute; left: 114px; background: transparent;top: 260px;  border: 0; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s12_dif" readonly>
			
				<input id="issd13" type="text" class="par-i13" style="position: absolute; left: 222px; background: transparent;top: 285px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s13_dif" readonly>
			
				<input id="issd14" type="text" class="par-i14" style="position: absolute; left: 350px; background: transparent;top: 260px;border:0 ; outline: none; height: 45px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s14_dif" readonly>
			
				<input id="issd15" type="text" class="par-i15" style="position: absolute; left: 398px; background: transparent;top: 280px;border:0 ; outline: none; height: 40px; width: 36px;text-align: center; font-size: 25px; font-weight:800;" name="s15_dif" readonly>
			
				<input id="issd16" type="text" class="par-i16" style="position: absolute; left: 222px; background: transparent;top: 335px;  border: 0; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s16_dif" readonly>
			
				<input id="issd17" type="text" class="par-i17" style="position: absolute; left: 222px; background: transparent;top: 385px;  border:0 ; outline: none; height: 40px; width: 60px;text-align: center; font-size: 25px; font-weight:800;" name="s17_dif" readonly>
				<div class="form-inline " style="position: absolute; bottom: -20px;" >
				 <div class="progress offset-0" style="width:300px ;height: 30px; position:absolute;left: 105px;" ><!-- <span style="position: absolute;">%</span> -->   <p style="position: relative; top:5px;"><strong>SSD</strong></p>
				<div class="progress-bar progress-bar-striped progress-bar-animated "  id="ssd" role="progressbar" style="width: 0%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		
				</div><p></p>
			  </div>
		</div>
			</div>
		
			
				
				</div>
				
				<div class="row d-flex">
						<div class="form-group ml-auto mr-4 desplazarBoton" style="position: absolute; top:610px; left: 1360px;" >
								
								<button type="button" onclick="ValidarEnvioFormulario();" class="btn btn-success bordes1" style="font-size: large;">Guardar</button>
								</div>	
				</div>	<button id="enviarFormulario" style="display:none;"></button>
			</form>

	



	
		
	</div> </center>
	{% else %}

	{% if perms.mpi.view_mpi %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div class="container mt-md-5 madre medio">
			<div class="row mt-md-5 ">
			<div class="mt-md-5">
				<div class="mt-md-5">
					<div class="card mt-md-5 col-md-12 bordes1 " style="background-color: #263238; padding: 10px; top: 160px;">
						<h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario solo tiene permisos para ver estudios de Cámara Gamma</h3>
						<div class="row madre medio ">
								<a type="button" href="{% url 'listampi' %}" class="btn ml-auto mr-md-2  mx-2" style="height: 45px; background-color:#009688; color:white; font-family: 'Raleway', sans-serif;
								font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;"  >Lista de Cámara Gamma</a>
						</div> 
						</div>
				</div>
			</div>
			</div>
		   </div>
	{% comment %} hacer el recuadro para que puedan acceder los usuarios que puedan ver el estudio {% endcomment %}
	{% else %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div class="container mt-md-5  medio">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white; text-align: center;">Este usuario no está autenticado</h3>
					<div class="row  medio">
					<a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
	
	{% endif %}
	
	
	{% endif %}
</body>
{% endblock %}
