{% extends "core/base.html" %}  
{% load static %}
{% block content %}
<script src="{% static 'fventricular/js/funcionesVentricularEdita.js' %}"></script>
<style>
.padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes	{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}

</style>
<body>
	
{% if perms.fventricular.view_funcionventricular and user.is_authenticated %}
<form method="POST">
    {% csrf_token %}

<!-- ----------------------------------------------------------------->
<div class="container col-md-12 mt-5">
		<div class="row padre mt-5">

				<fieldset class="form-group col-md-5 bordes mt-5" style="background-color: #263238; color: white; font-size: medium; ">	
					<legend class="bordes col-md-2" style="background-color: #009688; color: white;font-size: large;">STRESS</legend>
						
				
							<div class="row ml-2 mr-2 mt-2">
							{{form.estudio}}
							
				
							<div class="form-group col-md-4">
								
										{{form.paciente_fv}}
										<label class=" control-label">Volumen Relativo: </label>
										{{form.vol_relat_rest}}
									<input type="text" value="{{object.estudio.peso}}" id="peso" style="display: none;">
								<input type="text" value="{{object.estudio.talla}}" id="talla" style="display: none;">								
							</div>	
							<div class="form-group col-md-4">
								
										<label class="control-label">VFDVI: </label>
										{{form.vfdvi_rest}}
																	
							</div>	
							<div class="form-group col-md-4">
								
										<label class=" control-label">FSVSI: </label>
										{{form.fvsvi_rest}}
																	
							</div>									
							</div>
								
							<div class="row ml-2 mr-2">
								
										<div class="form-group col-md-4">
												<label class=" control-label ">VFDVI m<sup>2</sup>: </label>
												{{form.vfdvi_m2_rest}}
										</div>
																	
							</div>	
						
							<div class="row ml-2 mr-2" >
								
										<div class="form-group col-md-4">
												<label class=" control-label mr-md-3">FSVSI m<sup>2</sup>: </label>
												{{form.fvsvi_m2_rest}}
										</div>
																	
							</div>
						
							<div class="row ml-2 mr-2 mb-2">
								
										<div class="form-group col-md-4">
												<label class=" control-label">Fey: </label>
												{{form.frac_eyeccion_rest}}
										</div>
																	
							</div>
				
							
				
				</fieldset>

				<fieldset class="form-group col-md-2 bordes ml-md-5 mt-5" style=" background-color: #263238; color: white; font-size: medium; top: 12px; height: 385px;">    	
								
								<div class="row mt-2 ml-2 mr-2">
											
													<div class="form-group col-md-12 mt-4">
															<label class=" control-label">TID: </label>
															{{form.tid}}
																				
										</div>
							
				</fieldset>	
					
				</div>
				
				<!-- ----------------------------------------------------------------->				
				<div class="row padre mt-md-5" >
					<fieldset class="bordes1 col-md-5" style="background-color:#263238; color: white;">
						<legend class="bordes col-md-2 ml-md-3" style="background-color: #009688; color: white;font-size: large;">REST	</legend>
						
										<div class="row ml-2 mr-2 mt-2">
										<div class="form-group col-md-4">
											
													<label class=" control-label mr-md-6 ">Volumen Relativo: </label>
													{{form.vol_relat_stress}}
																				
										</div>	
										<div class="form-group col-md-4 ">
											
													<label class=" control-label mr-md-5">VFDVI: </label>
													{{form.vfdvi_stress}}
																				
										</div>	
										<div class="form-group col-md-4 " >
											
													<label class=" control-label mr-md-5">FSVSI: </label>
													{{form.fvsvi_stress}}
																				
										</div>									
										</div>
										<div class=" mr-4 ">
										<div class="row ml-2">
											
													<div class="form-group col-md-4">
															<label class=" control-label mr-md-3 ">VFDVI m<sup>2</sup>: </label>
															{{form.vfdvi_m2_stress}}
													</div>
																				
										</div>	
										<div class="row ml-2">
											
													<div class="form-group col-md-4">
															<label class=" control-label mr-md-3  ">FSVSI m<sup>2</sup>: </label>
															{{form.fvsvi_m2_stress}}
													</div>
																				
										</div>
										<div class="row ml-2">
											
													<div class="form-group col-md-4">
															<label class=" control-label">Fey: </label>
															{{form.frac_eyeccion_stress}}
													</div>
																				
										</div>
									</div>
							<div class="row d-flex col-md-12 mt">
									{% if perms.fventricular.change_funcionventricular %}
							<button  class="btn btn-success ml-auto mb-md-3 bordes1"> Guardar</button>
							{% else %}
							<a href="{% url 'listaventricular' %}" class="btn btn-success ml-auto bordes1">Volver</a>
							{% endif %}
							</div>
						</fieldset>
				</div>
</div>									

<!-- ------------------------------------------------------------- -->
	
				<!-- -----------ultimo div -->

	                
</form>
{% else %}
<div class="container mt-md-5 padre medio">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
					<div class="row padre medio">
					<a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
{% endif %}
</body>	
{% endblock content %}