{% extends "core/base.html" %}
{%block title%} <title>Función Ventricular</title>{%endblock%}


{% block content %}


{% load static %} <!-- Override files  -->
 <!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
<link rel="stylesheet" href="{% static 'fventricular/css/estilosVentricular.css' %}">
  <script src="{% static 'fventricular/js/funcionesVentricular.js' %}"></script>



<style>
  .padre{
	display: flex;
  	justify-content: center;

}

.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}

.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}



label{
    color: white;
}

.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}

@media (max-width:800px){
	.size{
		position: relative;
		bottom: 350px;
	}
	.bot{
		position: relative;
		top: 50px;
	}
	.desplazarTabla{
		position: relative;
		top: 10px;	
	}

}


</style>

<body>
		{% if user.is_authenticated and perms.fventricular.add_funcionventricular %}
<div class="container mt-md-4 mb-md-3 col-md-12 ">
		<div class="row d-flex">
				<div class="col-md-6">
						<form class="form-inline mt-md-2"  method="GET">
								{% csrf_token %}
								<div class="row bot  ml-1 mb-2" >
									<input type="text" class=" boton ml-md-4 mt-md-5" placeholder="Buscar Paciente" name="q"  >
									<button type="submit" class="boton2 mt-md-5"><i class="fa fa-search"></i></button>
								</div>
							</form>
				</div>
					<div class="col-md-6 d-flex mt-5 ">
                          <!-- ml-2 mr-2 mt-2 -->
							<form method="POST" class="ml-sm-auto mt-2"> 
								<a href="{% url 'listaventricular' %}" class="btn btn-info ml-auto mr-2 bordes" style="font-size: large;">Lista de Funciones Ventriculares</a>
							</form>
							</div>
			
					
		</div>
	</div>
<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->



  <table class="table table-dark table-hover table-striped mb-0 desplazarTabla" id="table" data-toggle="table" data-height="200" >
    <thead style="background-color: #009688;">
      <tr>
      	<th>ID</th>
       <th>Paciente</th>
	   <th>DNI</th>
          <th>Fecha de estudio</th>
          <th>Talla</th>
          <th>Peso</th>
          <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      {% if eventos %}

    {% for k in eventos %}
  <tr>
      	  <th><input type="radio" text="{{k.id_estudio}}" value="{{k.pacientes.id_pac}}" name="d" id="{{k.talla}}" class="{{k.peso}}"  nombre="{{k.pacientes.nombre}} {{k.pacientes.apellido}}"></th>
          <td>{{k.pacientes}}</td>
		  <td>{{k.pacientes.dni}}</td>
		  <td>{{k.fechaAcutal}}</td>
          <td>{{k.talla}}</td>
          <td>{{k.peso}}</td>
          <td>{{k.edad}}</td>
		  
    </tr>
    {% endfor %}
    {% else %}
    {% endif %}
	
    </tbody>
  </table>


<hr>

<form method="POST">
    {% csrf_token %}


	<input type="text" class="form-control mt-md-2 col-md-9" id="id_pac_ventricular" name="paciente_fv" style="display: none;" >
	<input type="text" class="form-control mt-md-2 col-md-9" id="id_pac_estudio" name="estudio" style="display: none;">

	<div class="container col-md-12 mb-md-3">
		<div class="row padre px-4">
				<fieldset class="bordes1 form-group col-md-6 mt-md-2" style=" background-color: #263238; color: white; font-size: medium;">    	
						<legend class="bordes1 col-md-3" style="background-color: #009688; color: white;font-size: large;">STRESS</legend>							
									
										<div class="row ml-2 mr-2">
											<div class="form-group col-md-4">
											
													<label class=" control-label">Volumen Relativo: </label>
													<input type="text" class="form-control  bordes1" id="ivolumen_relativo" required="" onchange="calcularStress()" name="vol_relat_rest"  maxlength="3" autocomplete="off">
																				
										</div>	
										<div class="form-group col-md-4 ">
											
													<label class=" control-label ">VFDVI (ml): </label>
													<input type="text" class="form-control  bordes1" id="ivfdvi" required="" onchange="calcularStress()" name="vfdvi_rest" maxlength="3" autocomplete="off">
																				
										</div>
									
											
										<div class="form-group col-md-4">
											
													<label class=" control-label mr-md-5">FVSVI (ml): </label>
													<input type="text" class="form-control  bordes1" id="ifvsvi" required="" onchange="calcularStress()" name="fvsvi_rest" maxlength="3" autocomplete="off">
																				
										</div>									
										</div>	
										<div class="row ml-2 mr-2">
												<div class="form-group col-md-4" >
											
														<label class=" control-label">VFDVI m<sup>2</sup>: </label>
														<input type="text" class="form-control bordes1" id="ivfdvim2" readonly title="El calculo de VFDVI m2 se realizara automaticamente."  name="vfdvi_m2_rest" autocomplete="off">
																					
											</div>	
											</div>
										<div class="row ml-2 mr-2">
											<div class="form-group col-md-4" >
												
														<label class=" control-label ">FVSVI m<sup>2</sup>: </label>
														<input type="text" class="form-control bordes1" id="ifvsvim2" readonly title="El calculo de FVSVI m2 se realizara automaticamente." name="fvsvi_m2_rest" autocomplete="off">
																					
											</div>
										</div>	
										<div class="row ml-2 mr-2">
												<div class="form-group col-md-4" >
													
															<label class=" control-label ">Fey: %</label>
															<input type="text" class="form-control bordes1" id="ifey" readonly title="El calculo de FEY: % se realizara automaticamente." name="frac_eyeccion_rest" autocomplete="off">
																						
												</div>
											</div>	
										
							
							
							<div></div>
						</fieldset>				
															
				<fieldset class="bordes1 form-group col-md-2 ml-md-5 mt-md-4" style=" background-color: #263238; color: white; font-size: medium;">    	
							
								<div class="row mt-3 ml-2 mr-2">
											
													<div class="form-group col-md-12">
															<label class=" control-label">TID: </label>
															<input type="text" class="form-control bordes1" id="itid" readonly title="El calculo de TID: % se realizara automaticamente." name="tid" maxlength="3" autocomplete="off">
													</div>
																				
										</div>
							
				</fieldset>	
		</div>
		
		<div class="row padre px-4">
				<fieldset class="bordes1 form-group col-md-6 ml-md-5 mt-md-3" style=" background-color: #263238; color: white; font-size: medium;">    	
						<legend class="bordes1 col-md-3" style="background-color: #009688; color: white;font-size: large;">REST</legend>		
										<div class="row ml-2 mr-2">
											<div class="form-group col-md-4">
											
													<label class=" control-label">Volumen Relativo R: </label>
													<input type="text" class="form-control bordes1" id="ivolumen_relativo_r" onchange="calcularStress()" name="vol_relat_stress" maxlength="3" autocomplete="off">
																				
										</div>	
										<div class="form-group col-md-4 " >
											
													<label class=" control-label">VFDVIR(ml): </label>
													<input type="text" class="form-control bordes1" id="ivfdvir" onchange="calcularStress()" name="vfdvi_stress" maxlength="3" autocomplete="off">
																				
										</div>
									
											
										<div class="form-group col-md-4">
											
													<label class=" control-label">FVSVIR(ml): </label>
													<input type="text" class="form-control bordes1" id="ifvsvir"onchange="calcularStress()" name="fvsvi_stress" maxlength="3" autocomplete="off">
																				
										</div>									
										</div>
										
										<div class="row ml-2 mr-2">
											
												<div class="form-group col-md-4">
														<label class=" control-label">VFDVIR m<sup>2</sup>: </label>
														<input type="text" class="form-control bordes1" id="ivfdvirm2" readonly title="El calculo de VFDVIR m2 se realizara automaticamente."  name="vfdvi_m2_stress" autocomplete="off">
												</div>	
																				
										</div>	

										<div class="row ml-2 mr-2">
											
													<div class="form-group col-md-4">
															<label class=" control-label">FVSVIR m<sup>2</sup>: </label>
															<input type="text" class="form-control bordes1" id="ifvsvirm2" readonly title="El calculo de FVSVIR m2 se realizara automaticamente." name="fvsvi_m2_stress" autocomplete="off">
													</div>
																				
										</div>
										
										<div class="row ml-2 mr-2">
											
													<div class="form-group col-md-4">
															<label class=" control-label ">Fey R: %</label>
															<input type="text" class="form-control bordes1"  readonly title="El calculo de FEY R: % se realizara automaticamente." id="ifeyr" name="frac_eyeccion_stress" autocomplete="off">
													</div>
																				
										</div>
										<div class="row d-flex">
												<div class="form-group mr-4 ml-auto">
														<button type="button" onclick="ValidarEnvioFormulario();" class="btn btn-success bordes" style="font-size: large;">Guardar</button>
														</div>
														<button id="enviarFormulario" style="display:none;"></button>
										</div>
										
				</fieldset>	
		</div>
		
				
		
	</div>
	            



	
	
				<!-- -----------ultimo div -->

	                
</form>	
{% else %}
{% if perms.fventricular.view_funcionventricular %}

<div class="container mt-md-5 padre">
        <div class="row mt-md-5 ">
        <div class="mt-md-5">
            <div class="mt-md-5">
                <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
                    <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario solo tiene permisos para ver estudios de función ventricular</h3>
                    <div class="row padre">
							<a type="button" href="{% url 'listaventricular' %}" class="btn ml-auto mr-md-2 mx-2" style="height: 45px; background-color:#009688; color:white; font-family: 'Raleway', sans-serif;
							font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;"  >Lista de Funciones Ventriculares</a>
                    </div> 
                    </div>
            </div>
        </div>
        </div>
       </div>
{% comment %} hacer el recuadro para que puedan acceder los usuarios que puedan ver el estudio {% endcomment %}
{% else %}
<div class="container mt-md-5 padre">
	<div class="row mt-md-5 ">
	<div class="mt-md-5">
		<div class="mt-md-5">
			<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
				<h3 class="mt-md-5 mb-md-5" style="color:white; text-align: center;">Este usuario no está autenticado</h3>
				<div class="row padre">
				<a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
				</div> 
				</div>
		</div>
	</div>
	</div>
   </div>
{% comment %} hacer un recuadro y boton {% endcomment %}
{% endif %}


{% endif %}



</body>

{% endblock %}