{% extends "core/base.html" %}  
{% load static %}
{% block content %}
<style>

  .boton
  {
      width: 200px;
      height: 40px;
      border: none;
      outline: none;
      padding: 0 25px;
      border-radius: 15px 0 0 15px;
  }
  
  .boton2
  {
      position: relative;
      border-radius: 0 15px 15px 0;
      width: 50px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      background :#263238;
      color: white;
  }
  .medio{
    justify-content: center;
    display: flex;
  }
  </style>
    {% if perms.fventricular.view_funcionventricular and user.is_authenticated %}
    <div class="container mt-md-5 mb-md-3 col-md-12">
        <div class="row mt-5 d-flex">
            <form class="form-inline" method="GET">
                {% csrf_token %}
                 <div class="row mt-sm-2 ml-2 mb-3" >
                    <input type="text" class=" boton ml-md-4 mt-md-5" style="position: relative; border-radius: 15px 0 0 15px; width: 200px; height: 40px;  outline: none; padding: 0 25px; border: solid black 0px" placeholder="Buscar Paciente" name="q"  >
                    <button type="submit" class="boton2 mt-md-5" style=" position: relative; border-radius: 0 15px 15px 0; width: 50px; height: 40px; border: none; outline: none; cursor: pointer; background :#263238; color: white;"><i class="fa fa-search"></i></button>
                 </div>
            </form>
  
  
        </div>
    </div>
 <table class="table table-dark table-hover table-striped mb-0 " id="table" data-toggle="table" data-height="300"  >
    <thead style="background-color: #009688;">
      <tr>
          
          <th>Paciente</th>
          <th>DNI</th>
          <th>Fecha de estudio</th>
          <th>vol relat rest</th>
          <th>vfdvi rest</th>
          <th>fvsvi rest</th>
          <th>Editar</th>
          <th>Borrar</th>

      </tr>
    </thead>
   


  <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td>{{pac.paciente_fv}}</td>
          <td>{{pac.paciente_fv.dni}}</td>
          <td>{{pac.estudio.fechaAcutal}}</td>
          <td>{{pac.vol_relat_rest}}</td>
          <td>{{pac.vfdvi_rest}}</td>
          <td>{{pac.fvsvi_rest}}</td>
          {% if perms.fventricular.change_funcionventricular %}
          <td><a class="btn btn-info" href="{% url 'editaventricular' pac.id_func_vent %}" >Editar</a></td>
          {% else %}
          <td><a class="btn btn-info" href="{% url 'editaventricular' pac.id_func_vent %}" >Ver</a></td>
          {% endif %}
         {% if perms.fventricular.delete_funcionventricular %}
         <td><a   class='btn btn-danger eliminar' href="{% url 'borraventricular' pac.id_func_vent %}" >Borrar</a></td>
         {% else %}
         {% endif %}
   </tr>
  
  {% endfor %}
     </tbody>
     </table>
     {% else %}
     <div class="container mt-md-5 padre medio">
        <div class="row mt-md-5 ">
        <div class="mt-md-5">
            <div class="mt-md-5">
                <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
                    <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
                    <div class="row padre medio">
                    <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
                    </div> 
                    </div>
            </div>
        </div>
        </div>
       </div>
     {% endif %}
{% endblock content %}