<!DOCTYPE html>
<html lang="es">
<head>  
  <meta charset="UTF-8">
  {%block title%} <title>CardioSys</title>    {%endblock%}
{% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:600i&display=swap" rel="stylesheet">
  <script src="{% static 'core/bootstrap-table-master/dist/bootstrap-table.js' %}"></script>
  <script src="{% static 'core/js/alertify.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'core/bootstrap-table-master/dist/bootstrap-table.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/themes/default.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/alertify.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/estilosBase.css' %}">
  <link rel="stylesheet" href="{% static 'core/font/css/all.min.css' %}">


  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<style>
  *,*:after,*:before{

margin: 0;
padding: 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
 box-sizing:border-box;

}
#contenedor_de_carga{
  background-color: rgba(250,240,245,0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga{
border: 10px solid #ccc;
/*border-top-color: #F4266A;*/
border-top-color: blue;
border-top-style:groove;
height: 100px;
width: 100px;
border-radius: 100%;

position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-animation:girar 1.5s linear infinite;
-o-animation:girar 1.5s linear infinite;
animation:girar 1.5s linear infinite;
}

@keyframes girar{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.colorLogo {
color: black ;
}

   body::after {
             content: "";
             /* background: url('{% static 'core/img/bg-01.jpg' %}') ; */
             min-height:100%;
             background-attachment: fixed;
            /* opacity: 0.4;
            filter: alpha(opacity=40) */
            background-color: #e8f5e9;
            filter:brightness(0.8);
             top: 0;
             left: 0;
             bottom: 0;
             right: 0;
             position:fixed;
             z-index: -1; 
}  

ul li  a:hover{
  background-color:#009688 ;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: large;
}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;

}

</style>

<script>
$(function () {
  $(document).scroll(function () { /* detecta si scroleamos */
    var $nav = $(".navv");//agrego color blango al nav
    var $a = $(".a");// agrego color negro a las letras
var colorLogo=$(".colorLogo");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    $a.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
 
 if( $(this).scrollTop() > $nav.height()){
  $(".i").css("color","black");
 }else{
  $(".i").css("color","white");

 }
//    $colorLogo.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

  /*
$h=$(".a");
 $(".a").hover(function(){
   $(this).toggleClass("scrolled");
    // $(this).css("color", "white");
 });
*/
  /* 
 ver´por que no puedo cabiar las letras de hover 
*/
// alert("sda")
  });
});

</script>

<div id="contenedor_de_carga">
<div id="carga"></div>
</div>

</head>

<body>
   {%block header%} 
<form class="form-inline my-2 my-lg-0 ">
    <nav class="navbar navbar-expand-sm  fixed-top  navv" style="background-color: #263238;" >
      <!-- <a class="navbar-brand" href="{% url 'home' %}" ><img src="{% static 'core/img/listo.png' %}" width="70" height="50" alt=""></a> -->
      <div class="row ml-md-3 mr-md-3">
        <a href="{% url 'home' %}" ><i class="fas fa-home i colorLogo" style="font-size: 35px;color:white;"></i></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  >
          <i class="fas fa-bars " id="mover" style="color: #009688;"></i>
        </span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ml-md-3">
            <a class="nav-link a" href="{% url 'pacienteform' %}" style=" color: white;"> <span style="color: white;" class="i">Pacientes</span>  </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link a " id="h"href="{% url 'form' %}" style=" color: white ;"><span  style="color: white;" class="i" >Estudios </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="{% url 'mpi' %}" style=" color: white;"><span  style="color: white;"  class="i">Cámara Gamma</span></a>
            </li>
          <li class="nav-item">
            <a class="nav-link a" href="{% url 'ergo' %}" style=" color: white; "><span  style="color: white;" class="i" >Ergometría</span></a>
          </li>
           <li class="nav-item">
            <a class="nav-link a" href="{% url 'antecedentes' %}" style=" color: white;"><span  style="color: white;" class="i">Antecedentes</span></a>
          </li>

           <li class="nav-item">
            <a class="nav-link a" href="{% url 'ventricular' %}" style=" color: white;"><span  style="color: white;" class="i">Función Ventricular</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link a" href="{% url 'pacientespreinforme' %}" style=" color: white ;"><span  style="color: white;" class="i">Pre-Informe</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link a" href="{% url 'upload' %}" style=" color: white ;"><span  style="color: white;" class="i">Carga de Archivos DICOM</span></a>
            </li>
        </ul>

        
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="row mr-md-1  d-flex" >
              <a href="/logout" class=" btn btnEstilo ml-auto col-md-12"   style=" color: white; background-color:#009688; font-family: 'Raleway', sans-serif;
              font-size: large; width: 200 px; height: 40px;" type="submit">Salir</a>
          </div>
        </form>
      </div>
    </nav>

    


    

  {%endblock%}


{% block content %}
  
{% endblock %}
</body>
{% block footer %}
<footer>


  
</footer>
{% endblock %}

<script>
  window.onload=function(){
var contendor=document.getElementById('contenedor_de_carga');

contendor.style.visibility='hidden';
contendor.style.opacity='0'; 
}
</script>

</html>