{% extends "core/base.html" %}
{%block title%} <title>Edita estudio</title>{%endblock%}
{% block content %}
{% load static %}
<!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
  <link rel="stylesheet" href="{% static 'core/css/estilosEstudio.css' %}">
  <script src="{% static 'core/js/funcionesEstudio.js' %}"></script>
  
    <style>
    
    .padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}
  
 /* Customize the label (the container) */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 22px;
  	width: 22px;
  	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #009688	;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}   
    
    </style>

<body>
    {% if user.is_authenticated and perms.core.view_estudio %}
                                                                                      <hr>

  <!-- ******************************************************************FORMULARIO BUSQUEDA************************************************************* -->

<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->

<div class="container padre">
    <div class="card col-md-11 mt-md-5 bordes1" style="background-color: #263238; top: 160px;">
            <form class="ml-3 mr-3" method="POST">
                    {% csrf_token %}
                
                <!-----------Paciente Oculto----------->    
                <div class="row" style="display: none;">
                            <div class="form-group col-md-3" >
                                <label for="sel1">Paciente:</label>
                        {{form.pacientes}}
                        </div>
                </div>  
                <!------------------------------------>
                <div class="row mt-5">
                <div class="form-group col-md-6">
                <label for="sel1">Institución:</label>
                    {{form.instituciones}}           
                </div>
                <div class="form-group col-md-3">
                            <label for="email">Edad:</label>
                            {{form.edad}}
                </div>
                <div class="form-group col-md-3">
                        <label for="form_name">Peso (Kg): </label>
                        {{form.peso}}
                    </div>
                   
                </div>   
                 <!------------------------------------>
                
                <div class="row mt-3 ">
                        <div class="form-group col-md-3">
                                <label for="form_email">IMC:</label>
                                {{form.imc}}                       
                            </div>  
                            <div class="form-group col-md-3">
                                <label for="form_name">Talla (Cm):</label>
                                {{form.talla}}
                             
                            </div>
                        
                            <div class="form-group col-md-3">
                                <label for="form_email">Superficie Corporal (m<sup>2</sup>):</label>
                                {{form.supCorporal}}
                                
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="form_name">Perímetro Abdominal:</label>
                                    {{form.perimetroAbdominal}}
                      
                                </div>
                                
                     
                </div>
                
                <div class="row mt-md-3">
                        <div class="form-group col-md-3">
                                <label for="form_email">Decúbito:</label>
                                {{form.decubito}}
                            
                            </div>
                            
                        <div class="form-group col-md-3">
                                <label for="form_name">Médico:</label>
                             {{form.medico}}
                                
                            </div>

                            <div class="form-group col-md-3">
                                    <label for="form_email">Indicación:</label>
                                    {{form.indicacion}}
                                
                                </div>
                                <div class="form-group col-md-3 mt-4" >
                                       
                                        <label class="cont">
                                                {{form.urgencia}}
                                                <label for="form_email mt-2 ml-1" style="font-size: medium;" >Urgencia</label>
                                                <span class="checkmark mt-2 ml-1"></span>
                                              </label>
                                        
                                    </div>
                                


                </div>
                
                <script>
                
                var e = $("#estado").val();
                // alert(e)
                if (e=="True") {
                $("#check").attr("checked",true);
                // alert(e)
                }
                function validar() {
                var z=$("#check").prop("checked");
                // alert(z)//devuleve true o false del estado del input// devuelve un boolean
                
                if (z==true) {
                $("#estado").val("True");
                
                }else{
                 $("#estado").val("False");
                }
                
                }
                
                </script>
                
                <div class="row mt-md-3 ">
                        <div class="form-group col-md-3">
                
                
                
                                <!-- <input id="form_email" type="text" name="calidadTecnica" class="form-control" placeholder="" required="required" data-error="Valid email is required."> -->
                                 
                                  <label for="" style="float: center; ">Calidad Técnica:</label>
                               <div>
                                  {{form.calidadTecnica}}
                               </div>
                              </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="form_message">Observaciones:</label>
                            {{form.observaciones}}
                            
                        </div>
                    </div>
                
                   
                   
                </div>

                <div class="row d-flex">
                    {% if perms.core.change_estudio %}
                        <input type="submit" class="btn btn-success mt-3 mb-4 ml-auto mr-3 bordes1" value="Guardar">
                        {% else %}
                        <a href="{% url 'estudioslistado' %}" class="btn btn-success ml-auto bordes1">Volver</a>
                        {% endif %}
                      </div>     
                    
                    <!------------------------------------>
                  
            </form>
        
    </div>
        

</div>
{% else %}
<div class="container mt-md-5 padre">
    <div class="row mt-md-5 ">
    <div class="mt-md-5">
      <div class="mt-md-5">
        <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
          <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
          <div class="row padre">
          <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
          </div> 
          </div>
      </div>
    </div>
    </div>
     </div>
{% endif %}
 
</body>

{% endblock content%}