
{% extends "core/base.html" %} <!-- extiendo de base.htm  -->

{%block title%}  <title>Estudios</title>  {%endblock%}

 {% block content %}
 {% load static %} <!-- Override files  -->
 <!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
<link rel="stylesheet" href="{% static 'core/css/estilosEstudio.css' %}">
<script src="{% static 'core/js/funcionesEstudio.js' %}"></script>

<style>
  .padre{
	display: flex;
  	justify-content: center;

}

.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;

}
.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}

label{
    color: white;
}

.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #009688;
  border-color: #009688;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.coordenadas{
   overflow-x: hidden;
}


@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
  .desplazarInput{
   
     margin-left:-110px !important;
    
  }
  
  }

</style>
  
<body class="coordenadas">
        {% if perms.core.add_estudio and user.is_authenticated %}
 <!-- ******************************************************************FORMULARIO BUSQUEDA************************************************************* -->
        
<div class="row mt-5">
                    <div class="col-md-6">
                        <form method="GET">
                            {% csrf_token %}
                            <div class="row ml-3 mt-4" >
                                <input type="text" class="boton" placeholder="Buscar Paciente" name="q"  >
                                <button type="submit" class="boton2"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-6 d-flex mt-4 mb-3 desplazarInput" >
                          
                        <form method="POST" class="ml-auto">
							<a href="{% url 'estudioslistado' %}" class="btn btn-info ml-auto mr-3 bordes1" style="font-size: large;">Lista de Datos Médicos</a>
					    </form>
                        </div>
</div>
     
<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->
<form method="POST" >
        {% csrf_token %}
    <!------------------------------Paciente Oculto---------------------------------->
    <input type="text" name="pacientes" id="id_pac_estudio" style="display: none;">
    <!------------------------------Tabla Pacientes---------------------------------->    
    <table class="table table-dark " id="table" data-toggle="table" data-height="200" >
        <thead style="background-color: #009688;">
        <tr >
        <th>Paciente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Cobertura médica</th>
            <th>Número de afiliado</th>
            <th style="display: none;">Fecha de Nacimiento</th>
        </tr>
        </thead>
        <tbody>
        {% if eventos %}
        {% for k in eventos %}
    <tr  >
        <th><input type="radio" value="{{k.id_pac}}" name="d" id="{{k.fecha_nacimiento}}"  nombre="{{k.nombre}} {{k.apellido}}" ></th>
            <td>{{k.nombre}}</td>
            <td>{{k.apellido}}</td>
            <td>{{k.dni}}</td>
            <td>{{k.cobertura_medica}}</td>
            <td>{{k.numero_afilido}}</td>
            <td style="display: none;">{{k.fecha_nacimiento}}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
        </tbody>
    </table>

    <div class="container padre mb-md-5 mt-3 col-md-12">   
            <div class="card col-md-8 bordes1 padre mt-md-5" style="background-color:#263238;">

                        <div class="row mt-md-5 ml-3 mr-3">

                            <div class="form-group col-md-6 mt-2">
                            <label for="sel1">Institución:</label>
                            <select class="form-control bordes" id="1" name="instituciones"  required="">
                                <option value="">Seleccione</option>  
                                <option value="1">ERI</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="email">Edad:</label>
                                    <input type="text" class="form-control bordes"  placeholder="" name="edad" id="edad" required="" readonly title="La edad se calcula automáticamente." >
                            </div>
                            <div class="form-group col-md-3">
                                        <div class="form-group">
                                            <label for="form_name">Peso (Kg): </label>
                                            <input  type="text"  name="peso" class="form-control bordes" placeholder="" required="required" onKeyUp="calcular()"  id="num1" autocomplete="off">
                                        </div>
                            </div>
                            

                        </div>   
                
                        <div class="row mt-3 ml-3 mr-3">
                            <div class="form-group col-md-3">
                                        <div class="form-group">
                                            <label for="form_email">IMC:</label>
                                            <input  type="text" name="imc" class="form-control bordes" placeholder="" required="required"  id="resultado" readonly title="El índice de masa corporal se calcula automáticamente." >                     
                                        </div>
                            </div>  

                                    <div class="form-group col-md-3">
                                        <label for="form_name">Talla (Cm):</label>
                                        <input type="text" name="talla" class="form-control bordes" required="required" onKeyUp="calcular()"  id="num2" autocomplete="off">
                                    
                                    </div>
                               
                                
                                    <div class="form-group col-md-3">
                                        <label for="form_email">Superficie Corporal (m<sup>2</sup>):</label>
                                        <input type="text" name="supCorporal" class="form-control bordes" placeholder="" required="required" id="resultado2"  readonly title="La superficie corporal se calcula automáticamente.">
                                        
                                    </div>
                                

                                
                                        <div class="form-group col-md-3">
                                            <label for="form_name">Perim. Abdominal:</label>
                                            <input id="form_name" type="text" name="perimetroAbdominal" id="2" class="form-control bordes" placeholder="" required="required" autocomplete="off">
                            
                                        </div>
                                   

                                    
                                       
                            
                        </div>
                
                        <div class="row mt-md-3 mr-3 ml-3">
                               

                                    <div class="form-group col-md-3">
                                        <label for="form_email">Decúbito:</label>
                                        <select class="form-control bordes" id="3" name="decubito"  required="">
                                            <option value="">Seleccione</option>  
                                            <option value="Supino">Supino</option>
                                            <option value="Prono">Prono</option> 
                                          </select>
                                    
                                    </div>
                               
                                    
                                
                                    <div class="form-group col-md-3">
                                        <label for="form_name">Médico:</label>
                                        <select class="form-control  bordes " id="4" name="medico"  required="">
                                            <option value="">Seleccione</option>  
                                            <option value="Supino">Dr. Cabrera</option>
                                            <option value="Prono">Dr. Geronazzo</option> 
                                            <option value="Prono">Dr. Santander</option>
                                             
                                          </select>
                                        
                                    </div>
                               
                                    <div class="form-group col-md-3">
                                        <label for="form_email">Indicación:</label>
                                        <select class="form-control bordes  mr-sm-2" id="5" name="indicacion"  required="">
                                            <option value="">Seleccione</option>  
                                            <option value="Diagnóstico de enfermedad coronaria">Diagnóstico de enfermedad coronaria</option>
                                            <option value="Evaluación de la extensión y gravedad de enfermedad coronaria">Evaluación de la extensión y gravedad de enfermedad coronaria </option>
                                            <option value="Evaluación de viabilidad miocárdica">Evaluación de viabilidad miocárdica</option>
                                            <option value="Estratificación de riesgo post IAM, prequirúrgica, general">Estratificación de riesgo post IAM, prequirúrgica, general</option>
                                            <option value="Valoración de dolor precordial agudo">Valoración de dolor precordial agudo</option>
                                          </select>
                                    
                                    </div>
                                    <div class="form-group col-md-3" >
                                        <div class="ml-2">
                                            <label for="form_email" class="" >Urgencia:</label>
                                            <div>
                                                    <div class="round">
                                                            <input type="checkbox"  name="urgencia" class="ml-5" placeholder="" required="required" id="checkbox" />
                                                            <label for="checkbox"></label>
                                                          </div>
                                                
                                            </div>
                                        </div>   
                                        </div> 
                                
                        </div>
                        
                        <div class="row mt-md-3 mr-3 ml-3">
                                
                            
                                <div class="form-group col-md-9">
                                    <label for="form_message">Observaciones:</label>
                                    <textarea id="form_message" name="observaciones" class="form-control bordes " placeholder="" rows="4"  ></textarea>
                                    
                                </div>
                                <div class="form-group col-md-3">
                
                
                
                                        <!-- <input id="form_email" type="text" name="calidadTecnica" class="form-control" placeholder="" required="required" data-error="Valid email is required."> -->
                                        
                                        <label for="" style="float: center;" class="ml-1">Calidad Técnica:</label>
                                    <div style="background-color: red;" class="ml-1">
                                        <p class="clasificacion form-inline" style="margin: 0px; float: left; "  >
                                                <input id="radio1" type="radio" name="calidadTecnica" value="5"    style="display: none;"><!--
                                            --><label for="radio1" class="label">★</label><!--
                                            --><input id="radio2" type="radio" name="calidadTecnica" value="4"style="display: none;" ><!--
                                            --><label for="radio2" class="label">★</label><!--
                                            --><input id="radio3" type="radio" name="calidadTecnica" value="3" style="display: none;"><!--
                                            --><label for="radio3" class="label">★</label><!--
                                            --><input id="radio4" type="radio" name="calidadTecnica" value="2"style="display: none;" ><!--
                                            --><label for="radio4" class="label">★</label><!--
                                            --><input id="radio5" type="radio" name="calidadTecnica" value="1" style="display: none;"><!--
                                            --><label for="radio5" class="label">★</label>
                                        </p>
                                    </div>
                                    </div>
                            
                            
                        </div>

                        <div class="form-group d-flex mb-5 mt-3">
                                <button type="button" onclick="ValidarEnvioFormulario();" class="btn btn-success ml-auto mr-4 bordes1" style="font-size: large">Guardar</button>
                        </div>
                    
                        <button  id="enviarFormulario" style="display:none;" ></button>

            </div>

            
    </div>
        
</form>
{% else %}
<div class="container mt-md-5 padre">
    <div class="row mt-md-5 ">
    <div class="mt-md-5">
      <div class="mt-md-5">
        <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
          <h3 class="mt-md-5 mb-md-5" style="color:white; text-align: center;">Este usuario no está autenticado</h3>
          <div class="row padre">
          <a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
          </div> 
          </div>
      </div>
    </div>
    </div>
     </div>
{% endif %}
</body>

 {% endblock %} 