{% extends "core/base.html" %}




<!-- {% block background %}{% load static %}{% static 'core/img/core.jpg' %}{% endblock %} -->


{% load static %}


{% block content %}
<style>
	
	.box:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);

border-radius: 20px;
/*width:225%;*/
/*-webkit-transform: scale(0.5);*/
transform: scale(1.1)
/*background-color: red;*/
}
.card{
	border-radius: 20px;
}/*
.ja:hover{ 
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
}*/
</style>

<style>
  
  .medio{
    justify-content: center;
    display: flex;
  }
</style>






<body  >
	

	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  
  {% if user.is_authenticated %}
<div class="container col-md-12">
  <div class="row mt-5 medio ">

  
    <div class="card mt-5 ml-2 col-md-3">
             <a  href="{% url 'pacienteform' %}" style="text-decoration: none; flex-direction: column;">
                <div class="icon"><i class="fas fa-users" style="font-size: 35px; color:white;"></i></div>
                <p class="title">Pacientes</p>
                <p class="text">Click para agregar un paciente.</p>
             </a>
          </div>
  
        <div class="card mt-5 col-md-3">
           <a  href="{% url 'form' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-tasks" style="font-size: 35px;"></i></div>
              <p class="title">Estudio</p>
              <p class="text">Click para agregar un estudio.</p>
            </a>
        </div>
        <div class="card mt-5 col-md-3">
           <a  href="{% url 'mpi' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-heartbeat" style="font-size: 35px;"></i></div>
              <p class="title">Cámara Gamma</p>
              <p class="text">Click para agregar una cámara gamma.</p>
             </a>
        </div>
        <div class="card mt-5 col-md-3">
           <a  href="{% url 'ergo' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-user-md" style="font-size: 35px;"></i></div>
              <p class="title">Ergometría</p>
              <p class="text">Click para agregar una ergometría.</p>
            </a>
        </div>
  </div>
  <div class="row mb-5 medio">
  <div class="card mt-5">
            <a  href="{% url 'antecedentes' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-file-medical-alt" style="font-size: 35px;"></i></div>
              <p class="title">Antecedentes</p>
              <p class="text">Click para agregar un antecendente.</p>
           </a>
        </div>
        <div class="card mt-5">
            <a  href="{% url 'ventricular' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="far fa-chart-bar" style="font-size: 35px;"></i></div>
              <p class="title">Función Ventricular</p>
              <p class="text">Click para introducir valores en función ventricular.</p>
            </a>
        </div>
        <div class="card mt-5">
            <a  href="{% url 'pacientespreinforme' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-file-pdf"  style="font-size: 35px;"></i></div>
              <p class="title">Pre-Informe</p>
              <p class="text">Click para generar pre-informe en pdf.</p>
           </a>
        </div>
        <div class="card mt-5">
           <a  href="{% url 'upload' %}" style="text-decoration: none; flex-direction: column;">
              <div class="icon"><i class="fas fa-compact-disc" style="font-size: 35px;"></i></div>
              <p class="title">Carga Dicom</p>
              <p class="text">Click para agregar archivos dicom.</p>
           </a>
        </div>
  </div>
</div>

{% else %}



<div class="container mt-md-5 padre medio">
    <div class="row mt-md-5 ">
    <div class="mt-md-5">
      <div class="mt-md-5">
        <div class=" mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
          <h5 class="mt-md-5 mb-md-5" style="color:white;text-align: center">Para navegar en la pagina de CARDIOSYS debe registrarse</h5>
          <div class="row padre medio">
          <a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
          </div> 
          </div>
      </div>
    </div>
    </div>
     </div>
  {% endif %}

</body>



{% endblock %}


 