{% extends "core/base.html" %}
{% load static %}
{% block content %}

<style>
.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}



@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
  
  }


</style>


{% if perms.core.view_estudio and user.is_authenticated %}
<form class="form-inline mt-5"  method="GET">
    {% csrf_token %}
      <input type="text" class="mt-md-4 ml-md-3 boton" placeholder="Buscar paciente.." name="q"  >
        <button type="submit" class=" mt-md-4 boton2"><i class="fa fa-search"></i></button>
    </form>
<br>
<table class="table table-dark "  id="table" data-toggle="table" data-height="400" >
    <thead style="background-color: #009688;"> 
      <tr>
         
          <th >Paciente</th>
          <th >DNI</th>
          <!-- <th data-width="5" data-width-unit="px">Peso</th> -->
          <!-- <th data-width="5" data-width-unit="px">Talla</th> -->
          <th  >Edad</th>
          <th>Fecha de estudio</th>
          <!-- <th data-width="1" data-width-unit="px">CT</th> -->
          <th >Editar</th>
          <th >Borrar</th>

      </tr>
    </thead>
  

   <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td >{{pac.pacientes}}</td>
           <td>{{pac.pacientes.dni}}</td>
          <!-- <td>{{pac.peso}}</td> -->
          <!-- <td>{{pac.talla}}</td> -->
          <td>{{pac.edad}}</td>
          <td>{{pac.fechaAcutal}}</td>
          <!-- <td data-width="5" data-width-unit="px">{{pac.calidadTecnica}}</td> -->
         <td><a class="btn btn-info" href="{% url 'editaestudio' pac.id_estudio %}" >Editar</a></td>
		<td><a   class='btn btn-danger eliminar' href="{% url 'borrarestudios' pac.id_estudio %}" >Borrar</a></td>
   </tr>
  
  {% endfor %}
     </tbody>
     </table>



     {% else %}
     <div class="container mt-md-5 padre">
            <div class="row mt-md-5 ">
            <div class="mt-md-5">
              <div class="mt-md-5">
                <div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
                  <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
                  <div class="row padre">
                  <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
                  </div> 
                  </div>
              </div>
            </div>
            </div>
             </div>
{% endif %}
{% endblock content %}