
  
.header{
height: 60px;
/*background: url(bg-01.jpg) no-repeat center;*/
}

 

.header .navbar {
  background-color: transparent !important; /*transparencia en el navbar obligatoria*/

}


 .navbar-collapse { 


  text-align: center; 
/*background-color: blue;*/


}
@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
.header .navbar {
  background-color: #fff  !important;

}
 ul li a {
  color: black !important;
 }
 .btnEstilo{
   width: 100% !important;
   color: white !important;
   /* background-color:transparent  !important; */
 }
}


.navv.scrolled {
  background-color: #fff !important; 
  transition: background-color 200ms linear; /*suavidad de cambio de clase*/
  
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}

button{
  font-family: 'Raleway', sans-serif;
  font-size: large;
}


 .scrolled.a  {
  color: black !important;
  /*background-color: blue !important;*/
} 


     ul li  a:hover{
            background-color: #009688;
            border-radius: 30px;
            color: white !important;

           }  

          