{% extends "core/base.html" %}  
{%block title%} <title>Seleccionar paciente</title>{%endblock%}
{% load static %}
<style>
.padre{
	            display: flex !important;
              justify-content: center !important;

            } 

.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0; width: 50px; height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.medio{
    justify-content: center;
    display: flex;
  }

</style>
{% block content %}
{% if user.is_authenticated %}

<div class="container mt-md-5 mb-md-3 col-md-12">
    <div class="row mt-5 d-flex">
        <form class="form-inline" method="GET">
            {% csrf_token %}
             <div class="row mt-sm-2 ml-2 mb-3" >
                <input type="text" class=" boton ml-md-4 mt-md-5" style="position: relative; border-radius: 15px 0 0 15px; width: 200px; height: 40px;  outline: none; padding: 0 25px; border: solid black 0px" placeholder="Buscar Paciente" name="q"  >
                <button type="submit" class="boton2 mt-md-5" style=" position: relative; border-radius: 0 15px 15px 0; width: 50px; height: 40px; border: none; outline: none; cursor: pointer; background :#263238; color: white;"><i class="fa fa-search"></i></button>
             </div>
        </form>


    </div>
</div>


    <form method="POST">
      <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm ">
        <br>
        <table class="table table-dark " id="table" data-toggle="table" data-height="300" >
            <thead style="background-color: #009688">
              <tr>
                  
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Dni</th>
                  <th>Fecha de estudio</th>
                  <th>Cobertura Medica</th>
                  <th>Seleccionar</th>
        
              </tr>
            </thead>
        
          
          <tbody>
          {% for pac in eventos  %}
         <tr>
                
                  <td>{{pac.pacientes.nombre}}</td>
                  <td>{{pac.pacientes.apellido}}</td>
                  <td>{{pac.pacientes.dni}}</td>
                  <td>{{pac.fechaAcutal}}</td>
                  <td>{{pac.pacientes.cobertura_medica}}</td>
                  <td><a class="btn btn-success ml-md-3 bordes1" href="{% url 'aplicativo' pac.id_estudio %}" >Seleccionar</a></td>
           </tr>
          
          {% endfor %}
             </tbody>
        </table>
    
    </div>
    </form>
    {% else %}
<meta name="viewport" content="width=device-width, initial-scale=1">

   
            <!-- <div id="mostrar" class="card mt-md-5 col-md-4 bordes1 medio" style="background-color: #263238;left: 500px; padding: 10px; top: 260px; ">
              <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
              <div class="row medio">
              <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout " style="left: 150px;">Login </a>
              </div> 
              </div>  -->


<div class="container mt-md-5 padre " id="login">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1 " style="background-color: #263238; padding: 10px; top: 150px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white;text-align: center;">Este usuario no está autenticado</h3>
					<div class="row padre " id="moverboton">
					<a class="btn btn-success col-md-4 mb-md-5 mx-5" href=" /logout " >Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
            
         
{% endif %}

<style>
	@media (min-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
#login{
  position: absolute !important;
  left: 550px !important;
  /* display: none !important; */
}
#moverboton{
  position: relative !important;
  left: 100px !important;
}


 }
 body {
        overflow-x: hidden !important;
    }
</style>
 
{% endblock content %}