{% extends "core/base.html" %}
{% block title %}
<title>Carga de Imágenes Dicom</title>
{% endblock title %}
{% load static %} 
 
<link rel="stylesheet" href="{% static 'dicom/css/estilosDicom.css' %}">

<style>

@media screen and (max-width:640px) {
  /* reglas CSS */
  
}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.padre{
	display: flex;
  	justify-content: center;

}

</style>

{% block content %}
{% comment %} {% if user.is_authenticated and perms.dicom.add_dicomimagenes %} {% endcomment %}
{% if user.is_authenticated  %}
{% if perms.dicom.add_dicomimagenes %}


<script src="{% static 'dicom/js/funcionesdicom.js' %}"></script>
<div class="container mt-md-5 mb-md-3 col-md-12">
		<div class="row mt-5 d-flex">
			<form class="form-inline" method="GET">
				{% csrf_token %}
				 <div class="row mt-2 ml-2" >
					<input type="text" class=" boton ml-md-4 mt-md-5" style="position: relative; border-radius: 15px 0 0 15px; width: 200px; height: 40px;  outline: none; padding: 0 25px; border: solid black 0px" placeholder="Buscar Paciente" name="q"  >
					<button type="submit" class="boton2 mt-md-5" style=" position: relative; border-radius: 0 15px 15px 0; width: 50px; height: 40px; border: none; outline: none; cursor: pointer; background :#263238; color: white;"><i class="fa fa-search"></i></button>
				 </div>
			</form>
		
		
		
			<form method="POST" class="ml-auto mt-md-5 mr-md-4" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" name="estudio" id="id_pac_estudio" style="display: none;">
							<div class="row mt-1 mb-1">
									<div class="row ml-4 mt-2 ">
											<input type="file"  class="btn btn-light" name="imagendicom"  id="ancho" style=" line-height:34px; border-radius: 15px 0 0 15px; height: 40px;  outline: none; padding: 0 25px; border: solid black 0px">
											<button type="button" onclick="ValidarEnvioFormulario();" class="btn btn-primary" style=" position: relative; border-radius: 0 15px 15px 0; width: 50px; height: 40px; border: none; outline: none; cursor: pointer; background-color :#263238; color: white; "><i class="fas fa-upload"></i></button>
											<button id="enviarFormulario" style="display:none;"></button>
									</div>
							<div class="row mt-2">
								<a class="etiqueta btn btn-info mr-md-4 ml-5 bordes1" href="{% url 'dicomlist' %}" >Lista de Archivos DICOM</a>
							</div>
									</div>
			
			</form>


		</div>
	</div>




<!-- 
<form method="POST" class="mt-md-3" enctype="multipart/form-data" >
	{% csrf_token %} 



	<input type="text" name="estudio" id="id_pac_estudio" style="display: none;">
	<a type="submit" href="{% url 'pacienteslistado' %}" class="btn ml-auto mr-md-2 " style="background-color:#01579b; color:white; font-family: 'Raleway', sans-serif; font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 170px; height: 50px;" >Listar</a>	
	<input type="file" class="btn btn-warning mr-md-2" style="font-family: 'Raleway', sans-serif;font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;  width: 450px; height: 50px;" name="imagendicom">
    <button type="submit" style="font-family: 'Raleway', sans-serif;font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; background-color: #00897b; color: white; width: 150px; height: 50px;" class="btn">Subir dicom</button>
	
</form> -->
    

    <div class="tabla table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm ">
  		<table class=" table table-dark table-hover table-striped mb-0 " id="table"  data-toggle="table" data-height="300" >
		    <thead style="background-color: #009688;">
		      <tr>
		       <th>Paciente</th>
			   	<th>Estudio</th>
		          <th>Nombre y apellido</th>
		          <th>Fecha de estudio</th>
		          <th>DNI</th>
		          <th>Cobertura médica</th>
		          <th>Número de afiliado</th>
				  
		      </tr>
		    </thead>
		    <tbody>
		      {% if eventos %}
		    {% for k in eventos %}
		  <tr>
		      <th><input type="radio" value="{{k.pacientes.id_pac}}" name="d" id="{{k.fecha_nacimiento}}" class="{{k.id_estudio}}" nombre="{{k.pacientes.nombre}} {{k.pacientes.apellido}}"></th>
		          <td>{{k.id_estudio}}</td>
				  <td>{{k.pacientes}}</td>
		          <td>{{k.fechaAcutal}}</td>
		          <td>{{k.pacientes.dni}}</td>
		          <td>{{k.pacientes.cobertura_medica}}</td>
		          <td>{{k.pacientes.numero_afilido}}</td>		    
		    </tr>
		    {% endfor %}
		    {% else %}
		    {% endif %}
		    </tbody>
		  </table>
		</div>



{% else %}
<center>
				<div class="card mt-md-5 col-md-5 bordes1 padre" style="display: flex;justify-content: center; background-color: #263238;top:200px">
						<h4 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no tiene permisos para cargar archivos DICOM</h4>
						<div class="row padre">
								<a type="button" href="{% url 'home' %}" class="btn ml-auto mr-md-4 mb-2 mx-2" style="height: 45px; background-color:#009688; color:white; font-family: 'Raleway', sans-serif;
								font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;"  >Página principal</a>
						</div> 
						</div>
		</center>
{% endif %}



		{% else %}

		<div class="container mt-md-5 padre " id="login">
			<div class="row mt-md-5 ">
			<div class="mt-md-5">
				<div class="mt-md-5">
					<div class="card mt-md-5 col-md-12 bordes1 " style="background-color: #263238; padding: 10px; top: 150px;">
						<h3 class="mt-md-5 mb-md-5" style="color:white;text-align: center;">Este usuario no está autenticado</h3>
						<div class="row padre " id="moverboton">
						<a class="btn btn-success col-md-4 mb-md-5 mx-5" href=" /logout " >Login </a>
						</div> 
						</div>
				</div>
			</div>
			</div>
		   </div>
				

{% comment %} hacer recuadro con boton {% endcomment %}
{% endif %}		


			
		
		
<style>
		@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
 #ancho{
	width: 300px !important;
 }}
	@media (min-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/

 #login{
  position: relative !important;
  left: 950px !important;
  /* display: none !important; */
}
#moverboton{
  position: relative !important;
  left: 100px !important;
}

 
	}
	body {
        overflow-x: hidden !important;
    }
</style>

			
		
    

{% endblock content %}  