{% extends "core/base.html" %}
{% block title %}
    <title>lista dicom</title>
{% endblock title %}
{% load static %}
{% block content %}
<style>

        .boton
        {
            width: 200px;
            height: 40px;
            border: none;
            outline: none;
            padding: 0 25px;
            border-radius: 15px 0 0 15px;
        }
        
        .boton2
        {
            position: relative;
            border-radius: 0 15px 15px 0;
            width: 50px;
            height: 40px;
            border: none;
            outline: none;
            cursor: pointer;
            background :#263238;
            color: white;
        }
        
        </style>
         {% if perms.dicom.view_dicomimagenes and user.is_authenticated %}
         <div class="container mt-md-5 mb-md-3 col-md-12">
                <div class="row mt-5 d-flex">
                    <form class="form-inline" method="GET">
                        {% csrf_token %}
                         <div class="row mt-sm-2 ml-2 mb-3" >
                            <input type="text" class=" boton ml-md-4 mt-md-5" style="position: relative; border-radius: 15px 0 0 15px; width: 200px; height: 40px;  outline: none; padding: 0 25px; border: solid black 0px" placeholder="Buscar Paciente" name="q"  >
                            <button type="submit" class="boton2 mt-md-5" style=" position: relative; border-radius: 0 15px 15px 0; width: 50px; height: 40px; border: none; outline: none; cursor: pointer; background :#263238; color: white;"><i class="fa fa-search"></i></button>
                         </div>
                    </form>
          
          
                </div>
            </div>
 
    
            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm mt-md-3">
                    <table class="table table-dark table-hover table-striped mb-0" id="table" data-toggle="table" data-height="400">
                            <thead style="background-color: #009688;">
                                <tr>
                                    <th>Paciente</th>
                                    <th>DNI</th>
                                    <th>Fecha de estudio</th>
                                    <th>Descargar</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                            {% for d in dicom %}
                                <tr>
                                    <th>{{d.estudio.pacientes}}</th>
                                    <th>{{d.estudio.pacientes.dni}}</th>
                                     <th>{{d.estudio.fechaAcutal}}</th>
                                    <th><a href="{{ d.imagendicom.url }}" style="color: white;" >Descargar</a></th>
                                    <td><a class="btn btn-info" href="{% url 'editadicom' d.id %}" >Editar</a></td>
                                    <td><a class='btn btn-danger eliminar' href="{% url 'borradicom' d.id %}" >Borrar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>
            </div>
        
            {% else %}
            <div class="card mt-md-5 col-md-4 bordes1 medio" style="background-color: #263238;left: 500px; padding: 10px; top: 260px;">
                    <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
                    <div class="row medio">
                    <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout " style="left: 150px;">Login </a>
                    </div> 
                    </div>
      
            {% endif %}

{% endblock content %}  