{% extends "core/base.html" %}
{% load static %}
{% block content %}
<style>

        .padre{
            display: flex;
           justify-content: center;
           align-items: center;
        
        }
        
        .bordes1{
        
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
        
        }
        
        </style>
{% if perms.dicom.change_dicomimagenes and user.is_authenticated %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="container mt-md-5">
      <div class="row mt-md-5 padre ">
        <div class="card mt-md-5 col-md-5 padre bordes" style=" background-color:#263238; color: white; top:200px; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;border: 0px solid #000000;">
            
       <div class="container mt-md-4 ml-md-3 ">
        
        <div class="row col-md-12 mb-md-3">
            {{form.estudio.label_tag}}
            {{form.estudio}}
        </div>
       
       <div class="row col-md-12">
        {{form.imagendicom.label_tag}} 
        {{form.imagendicom}}
        
       </div> 
       <div class="row d-flex mb-md-4 col-md-12">
            <button type="submit" class=" btn btn-success mt-md-4 mt-3 mb-3  ml-auto bordes1">Actualizar archivo</button>
       </div>
       </div> 
    
        </div>
      </div>
  </div>
  {% else %}
  <div class="card mt-md-5 col-md-4 bordes1 medio" style="background-color: #263238;left: 500px; padding: 10px; top: 260px;">
      <h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
      <div class="row medio">
      <a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout " style="left: 150px;">Login </a>
      </div> 
      </div>

{% endif %}
{% endblock content %}