
{% extends "core/base.html" %}

{%block title%} <title>Antecedentes Patológicos</title>{%endblock%}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'antec/css/estilosAntecedentes.css' %}">
<script src="{% static 'antec/js/funcionesAntecedentes.js' %}"></script> 
<style>
  .padre{
	display: flex;
  	justify-content: center;

}
body{
   overflow-x: hidden;
}

.boton
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 15px 0 0 15px;
}

.boton2
{
    position: relative;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background :#263238;
    color: white;
}

.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}

.bordes{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}

/* Customize the label (the container) */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 22px;
  	width: 22px;
  	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #009688	;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 990px  ) { /* detecta el tamaño de pantalla si es menor a 990px se cambia el nav bar a blanco*/
  
  .desplazarInput{
   
     margin-left:-120px !important;
    
  }
  
  }

</style>

<body>
	{% if user.is_authenticated and perms.antec.add_antecedentes %}
<!-- *****************************************************FORMULARIO DE BUSQUEDA************************************************* -->
<div class="row mt-5">
	<div class="col-md-6">
		<form method="GET">
			{% csrf_token %}
			<div class="row ml-3 mt-4 " >
				<input type="text" class="boton" placeholder="Buscar Paciente" name="q"  >
				<button type="submit" class="boton2"><i class="fa fa-search"></i></button>
			</div>
		</form>
		</div>
		<div class="col-md-6 d-flex mt-4 mb-3 desplazarInput">
		  
		<form method="POST" class="ml-auto ">
			<a href="{% url 'listaantecedentes' %}" class="btn btn-info ml-auto center-block mr-3 bordes1" style="font-size: large;">Lista de Antecedentes</a>
		</form>
		</div>
</div>


<!-- *********************************************************FORMULARIO ANTECEDENTE PACIENTE**************************************************** -->

		    
		
		
  			<table class="table table-dark" id="table" data-toggle="table" data-height="200">
		    <thead style="background-color: #009688;">
		      <tr>
		       	 <th>Paciente</th>
		          <th>Nombre</th>
		          <th>Apellido</th>
		          <th>DNI</th>
		          <th>Fecha de estudio</th>
		          
		      </tr>
		    </thead>
		    <tbody>
		      {% if eventos %}
		    {% for k in eventos %}
		  <tr>
		      <th><input type="radio" value="{{k.pacientes.id_pac}}" name="d" id="{{k.pacientes.fecha_nacimiento}}" idEstudio="{{k.id_estudio}}" nombre="{{k.pacientes.nombre}} {{k.pacientes.apellido}}" ></th>
		          <td>{{k.pacientes.nombre}}</td>
		          <td>{{k.pacientes.apellido}}</td>
		          <td>{{k.pacientes.dni}}</td>
		          <td>{{k.fechaAcutal}}</td>
		          		    
		    </tr>
		    {% endfor %}
		    {% else %}
		    {% endif %}
		    </tbody>
		  </table>
															
																										
<!-- ************************************************************************************COMIENZO DE FIELDSETS***************************************************** -->
<form method="POST" >
	{% csrf_token %}
		<input type="text" name="paciente_antecedente" id="id_pac_antec" style="display:none;">
		

<div class="form-inline">	            

<input type="text" name="estudio" id="id_pac_estudio" style="display:none;">
<div class="container col-md-12">
<div class="row padre mt-4">
		
<!-------------------FIELDSET FCRV----------------------->
<fieldset class="form-group form-inline col-md-6 bordes1 mb-4 mx-3 p-4" style="background-color: #263238; color: white; font-size: medium;">    	
<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">FCRV</legend>							

<div class="row form-group ml-3 mt-3">
		<div class="col-md-2 form-group ">
		
							
							<label class="cont">
									<input class="form-check-input " type="checkbox" id="" name="fcrv_hta">
									<label class="form-check-label mt-1" style="font-size: medium;"> HTA</label>
									<span class="checkmark mt-1"></span>
								  </label>
		 </div>

		<div class="col-md-4 form-group">			    
		<input class="form-control bordes col-md-9" type="date" id="fecha_fcrv_hta" name="fecha_fcrv_hta"  onchange="calcularAños(this.id);">
		</div>

			  <div class="col-md-2 form-group">
				
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="fcrv_dta">
				  <label class="form-check-label mt-1" style="font-size: medium;" for="autoSizingCheck"> DBT</label>
						<span class="checkmark mt-1"></span>
					  </label>
			</div>
  
			  <div class="col-md-4 form-group">
				  <input class="form-control bordes col-md-9" type="date" id="fecha_fcrv_dta" name="fecha_fcrv_dta" onchange="calcularAños(this.id);">		      						
				</div>

</div> 

<div class="row form-group mt-4 ml-3">

<div class="col-md-6 form-group ">
	  
		
		<label class="cont">
				<input class="form-check-input" type="checkbox" id="" name="anteced_fliar">
		<label class="form-check-label mt-1" style="font-size: medium;" for=""> ANTECEDENTES FLIARES</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>



<div class="col-md-6 form-group ">
	  
		
		<label class="cont">
				<input class="form-check-input" type="checkbox" id="ex_tabaquismo" name="ex_tabaquismo" onchange="unicaOpcion(this.id);">
		<label class="form-check-label mt-1" style="font-size: medium;" for=""> EX-TABAQUISMO</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>



</div> 

<div class="row form-group mt-4 ml-3">

<div class="col-md-6 form-group ">
	  
		
		<label class="cont">
				<input class="form-check-input " type="checkbox" id="" name="dislipemia">
		<label class="form-check-label  mt-1" style="font-size: medium;"for="">DISLIPEMIA</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>



<div class="col-md-6 form-group">
	  
		
		<label class="cont">
				<input class="form-check-input  " type="checkbox" id="" name="sedentarismo">
		<label class="form-check-label mt-1" style="font-size: medium;" for=""> SEDENTARISMO</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>



</div> 

<div class="row form-group mt-4 ml-3">

<div class="col-md-4 form-group">
	  
		
		<label class="cont">
				<input class="form-check-input" type="checkbox" id="" name="estres">
		<label class="form-check-label mt-1" style="font-size: medium;" for="">ESTRÉS</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>



<div class="col-md-4 form-group ">
	  
		
		<label class="cont">
				<input class="form-check-input " type="checkbox" id="chagas">
		<label class="form-check-label mt-1" style="font-size: medium;" for=""> CHAGAS</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
	
  </div>


  <div class="col-md-4 form-group ">
	 
		
		<label class="cont">
				<input class="form-check-input " type="checkbox" id="" name="resincron">
		<label class="form-check-label mt-1" style="font-size: medium;" for="">RESINCRONIZACIÓN</label>	
				<span class="checkmark mt-1"></span>
			  </label>
	  
	  
  </div>





</div> 

<div class="row form-group mt-4 mb-4 ml-3">

<div class="col-md-4 form-group">
		
		<label class="cont">
				<input class="form-check-input" type="checkbox" id="tabaquismo" name="tabaquismo" onchange="unicaOpcion(this.id);">
		<label class="form-check-label mt-1" style="font-size: medium;"  for="">TABAQUISMOS</label>
				<span class="checkmark mt-1"></span>
			  </label>
  </div>

<div class="col-md-4 form-group">
	 
		
		<label class="cont">
				<input class="form-check-input " type="checkbox" id="" name="marcapasos">
		<label class="form-check-label mt-1" style="font-size: medium;"  for=""> MARCAPASOS</label>
				<span class="checkmark mt-1"></span>
			  </label>
	  
  </div>

  <div class="col-md-4 form-group">
		
		<label class="cont">
				<input class="form-check-input " type="checkbox" id="" name="cdi">
		<label class="form-check-label mt-1" style="font-size: medium;" for="">CDI</label>
				<span class="checkmark mt-1"></span>
			  </label>
  </div>		  
</div> 



</fieldset>	
<!-------------------FIELDSET CRM----------------------->					     
<fieldset class="card form-group col-md-4 bordes1 mb-4 mx-2" style="background-color: #263238; color: white; font-size: medium;">    	
		<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">CRM</legend>
						
		<div class="container mt-2">
		<div class="form-group ">
				<div class="col-md-4 form-group">
								  
								  <label class="cont">
										<input class="form-check-input" type="checkbox" id="autoSizingCheck">
										<label class="form-check-label mt-1" style="font-size: medium;" for="autoSizingCheck"> CRM</label>
										<span class="checkmark mt-1"></span>
									  </label>
							  </div>
		
					<div class="col-md-6 form-group">
					<input class="form-control bordes col-md-10" type="date" id="fecha_crm_hta" name="fecha_crm_hta" onchange="calcularAños(this.id);">			      
							  </div>
		
		</div> 
		
		<div class="form-group mt-4">
		
		<div class="col-md-4 form-group ">
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pm">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">PM</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		<div class="col-md-4 form-inline ">
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pr">
					<label class="form-check-label mt-1" style="font-size: medium;" for=""> PR</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
			  <div class="col-md-4 form-inline ">
				 
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pv">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">PV</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		</div> 
		
		<div class="form-group mt-4">
		
		<div class="col-md-4 form-group ">
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pm_da">
						<label class="form-check-label mt-1" style="font-size: medium;"  for="">DA</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		<div class="col-md-4 form-group ">
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pr_dg">
					<label class="form-check-label mt-1" style="font-size: medium;" for=""> DG</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
			  <div class="col-md-4 form-group ">
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pv_da">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">DA</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		</div> 
		
		<div class="form-group mt-4">
		
		<div class="col-md-4 form-group ">
				 
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pm_dg">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">DG</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		<div class="col-md-4 form-group ">
				  
				  <label class="cont">
						<input class="form-check-input" type="checkbox" id="" name="pr_cx">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
			  <div class="col-md-4 form-group ">
				  
				  <label class="cont">
						<input class="form-check-input" type="checkbox" id="" name="pv_dg">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">DG</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		</div> 
		
		
		<div class="form-group mt-4 mb-2">
		
		<div class="col-md-4 form-group ">
				 
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pm_cx">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		
		
		
		<div class="col-md-4 form-group ">
				<div class="form-check">
						<input class="form-check-input sr-only " type="checkbox" id="autoSizingCheck">
						<label class="form-check-label" for="autoSizingCheck"></label>
					  </div>

			  </div>
		
		
			  <div class="col-md-4 form-group  ">
				  
				  <label class="cont">
						<input class="form-check-input " type="checkbox" id="" name="pv_cx">
					<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
						<span class="checkmark mt-1"></span>
					  </label>
			  </div>
		  
		</div> 
		</div>
				
</fieldset>	
</div>			
			

</div>

<div class="container col-md-12 mb-md-4">
<div class="row padre">
	
<fieldset class="form-group col-md-5 mx-2 bordes1" style="background-color: #263238; color: white; font-size: medium;">    	
<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">ANTECEDENTES</legend>
					
<div class="container ml-md-5">
	
		<div class="form-group mt-2">

		<div class="col-md-3 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="infarto">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">INFARTO</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
					
		<div class="col-md-4 form-group">
			<input class=" form-control bordes col-md-12" type="date" id="fecha_infarto_reciente" name="fecha_infarto_reciente" onchange="calcularAños(this.id);">		      
				  </div>
		  
		</div> 
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">ATC</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2">
						<label class="form-check-label mt-1" style="font-size: medium;" for=""> ATC</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">ATC</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group">
					
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1_da">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">DA</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2_da">
						<label class="form-check-label mt-1" style="font-size: medium;" for=""> DA</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3_da">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">DA</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1_dg">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">DG</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2_dg">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">DG</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3_dg">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">DG</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1_cx">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2_cx">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group">
					 
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3_cx">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Cx</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1_cd">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">CD</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2_cd">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">CD</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3_cd">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">CD</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		<div class="form-group mt-3">
		
		<div class="col-md-4 form-group ">
					 
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc1_stent_bms">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Stent BMS</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc2_stent_bms">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Stent BMS</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group  ">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="" name="atc3_stent_bms">
						<label class="form-check-label mt-1" style="font-size: medium;" for="">Stent BMS</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
		
		<div class="form-group mt-3 mb-3">
		
		<div class="col-md-4 form-group">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="autoSizingCheck" name="atc1_stent_des">
						<label class="form-check-label mt-1" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		
		<div class="col-md-4 form-group ">
					  
					  <label class="cont">
							<input class="form-check-input" type="checkbox" id="autoSizingCheck" name="atc2_stent_des">
						<label class="form-check-label mt-1" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
							<span class="checkmark mt-1 "></span>
						  </label>
				  </div>
		
		
				  <div class="col-md-4 form-group">
					  
					  <label class="cont">
							<input class="form-check-input " type="checkbox" id="autoSizingCheck" name="atc3_stent_des">
						<label class="form-check-label mt-1" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
							<span class="checkmark mt-1"></span>
						  </label>
				  </div>
		
		
		  
		</div> 
</div>
		
</fieldset>	

<fieldset class="form-group col-md-5 mx-2 bordes1" style="background-color: #263238; color: white; font-size: medium;">    	
						<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;" >OTROS</legend>		       
						 
								<div class="form-group">
												<textarea class="form-control ml-1 col-md-12" rows="12" id="exampleFormControlTextarea6" placeholder="Escribe aquí..." name="otros_antecedentes"></textarea>
								</div>	
								<div class="form-group d-flex">
										<div class=" ml-auto mt-2">
												<button type="button" onclick="ValidarEnvioFormulario();" class="btn btn-success bordes1" style="font-size: large;">Guardar</button>
												</div>	
								</div>	<button id="enviarFormulario" style="display:none;"></button>
								
						 								
</fieldset>	

</div>
</div>
					
</div>
</form>
{% else %}
{% if perms.antec.view_antecedentes %}

	<div class="container mt-md-5 padre">
			<div class="row mt-md-5 ">
			<div class="mt-md-5">
				<div class="mt-md-5">
					<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
						<h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario solo tiene permisos para ver los antecedentes</h3>
						<div class="row padre">
								<a type="button" href="{% url 'listaantecedentes' %}" class="btn ml-auto mr-md-2 mx-2" style="height: 45px; background-color:#009688; color:white; font-family: 'Raleway', sans-serif;
								font-size: large; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;"  >Lista de antecedentes</a>
						</div> 
						</div>
				</div>
			</div>
			</div>
		   </div>
	{% comment %} hacer el recuadro para que puedan acceder los usuarios que puedan ver el estudio {% endcomment %}
	{% else %}
	<div class="container mt-md-5 padre">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white;text-align: center;">Este usuario no está autenticado</h3>
					<div class="row padre">
					<a class="btn btn-success col-md-4  mb-md-5 mx-5" href=" /logout ">Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
	{% comment %} hacer un recuadro y boton {% endcomment %}
	{% endif %}
	
	
	{% endif %}
</body>
</html>
{% endblock %}