<html>
<head>
        {%block title%} <title>Listado de Antecedentes Patologicos</title>{%endblock%}
</head>
<body>
<h1> Buscar el paciente</h1>
<form action="{% url 'busquedas' %}" method="GET">
{% csrf_token %}
    <input name="q" placeholder="Escribe el nombre de una ciudad" id="buscador">
    <button class="btn btn-primary mr-sm-4 my-2 ml-md-3" type="submit">Guardar</button>
</form>
{% if eventos %}
    {% for k in eventos %}
        <table border="0px" width="300px">
        <tr>
        <td>nombre</td>
        <td>{{k.nombre}}</td>
        </tr>
        <tr>
        <td>apellido</td>
        <td>{{k.apellido}}</td>
        </tr>
        <tr>
        <td>dni</td>
        <td>{{k.dni}}</td>
        </tr>
         <tr>
        <td>ID</td>
        <td>{{k.id_pac}}</td>
        </tr>
    {% endfor %}

{% else %}
{% endif %}


</body>
</html>