{% extends "core/base.html" %}
{%block title%} <title>Editar Antecedentes Patologicos</title>{%endblock%}
{% block content %}
{% load static %}
<script src="{% static 'antec/js/funcionesAntecedentes.js' %}"></script> 
<style>
  .padre{
	display: flex;
  	justify-content: center;

}
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.bordes	{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;

}
/* Customize the label (the container) */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 22px;
  	width: 22px;
  	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #009688	;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}  
.bordes1{

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}

</style>
{% if user.is_authenticated and perms.antec.view_antecedentes %}
<form method="POST">
			{% csrf_token %}
			

<div class="form-inline mb-md-4 mt-md-5">				
					     			
					
	<div class="row col-md-12 padre mt-md-5 ">	

		<fieldset class=" col-md-6 bordes1 p-2 mt-5 mb-2 ml-4" style="background-color: #263238; color: white;">
						<legend class="bordes col-md-2" style="background-color: #009688; color: white;font-size: large;">FCRV</legend>
				
						
				<div class="row ml-3 my-2">
						<div class="col-md-3" style="display: none;">
								{{form.paciente_antecedente}}
								{{form.estudio}}
						</div>
									<div class="col-md-2 form-group ">
													  <div class="form-check ">
														<label class="cont ">
															{{form.fcrv_hta}}
														<label class="form-check-label ml-2 mt-2" style="font-size: medium;"> HTA</label>
															<span class="checkmark mt-2"></span>
														  </label>
														
														
													</div>
												</div>
												<div class="col-md-3 form-group">
													{{form.fecha_fcrv_hta}}
												</div>
											<div class="col-md-2 form-group"> 
													<div class="form-check ">
															
															<label class="cont ">
															{{form.fcrv_dta}}
															<label class="form-check-label ml-2 mt-2" style="font-size: medium;" for="autoSizingCheck"> DTA</label>
															<span class="checkmark mt-2"></span>
															  </label>
															
																
														  </div>
											</div>
											<div class="col-md-3">
												{{form.fecha_fcrv_dta}}
											</div>			
													 
									 
									 
										  
							
				</div> 
					
				<div class="row ml-3 my-4">
				
				
								  <div class="form-group col-md-4">
										<div class="form-check ">
												
												<label class="cont ">
													{{form.anteced_fliar}}
												<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for=""> ANTECEDENTES FLIARES</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
								  <div class="form-group col-md-3">
										<div class="form-check">
												
												<label class="cont ">
													{{form.ex_tabaquismo}}
												<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for=""> EX-TABAQUISMO</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
									  <div class="form-group col-md-2">
											<div class="form-check ">
													
													<label class="cont ">
														{{form.dislipemia}}
													<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for="">DISLIPEMIA</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
									  </div>
										  <div class="form-group col-md-2">
												<div class="form-check">
														
														<label class="cont ">
															{{form.sedentarismo}}
														<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for=""> SEDENTARISMO</label>
															<span class="checkmark mt-2"></span>
														  </label>
													  </div>
										  </div>
				
				</div>
				
				
				<div class="row ml-3 my-3">
		
				
								  <div class="form-group col-md-4">
										<div class="form-check mr-sm-4">
												
												<label class="cont ">
													{{form.estres}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">ESTRÉS</label>
												<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
								  <div class="form-group col-md-4">
										<div class="form-check ">
												
												<label class="cont ">
													{{form.chagas}}
												<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for=""> CHAGAS</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
									  <div class="form-group col-md-4">
											<div class="form-check ">
													
													<label class="cont ">
														{{form.resincron}}
													<label class="form-check-label ml-md-2 mt-2" style="font-size: medium;" for="">RESINCRONIZACIÓN</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
									  </div>
									  
					  
				</div> 
				
				<div class="row mt-3 ml-3 mb-4">
				
								  <div class="form-group col-md-4">
										<div class="form-check mr-sm-4">
												
												<label class="cont ">
													{{form.tabaquismo}}
													<label class="form-check-label mt-2" style="font-size: medium;" for="">TABAQUISMOS</label>
												<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
								 <div class="form-group col-md-4">
										<div class="form-check mr-sm-4">
												
												<label class="cont ">
													{{form.marcapasos}}
													<label class="form-check-label ml-2 mt-2" style="font-size: medium;" for=""> MARCAPASOS</label>
												<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								 </div>
									  <div class="form-group col-md-4">
											<div class="form-check mr-sm-4">
													
													<label class="cont ">
														{{form.cdi}}
														<label class="form-check-label ml-2 mt-2" style="font-size: medium;" for="">CDI</label>
													<span class="checkmark mt-2"></span>
													  </label>
												  </div>
									  </div>
							  
				</div> 
		
		</fieldset>
		
		<!-- --------------------------------------------------- -->
		
		<fieldset class=" col-md-4 ml-md-5 bordes1 p-3 mt-5 mb-2 ml-4" style="background-color:#263238; color: white;">
						<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">CRM</legend>
						
		
				<div class="row ml-3 mt-3">
								<div class="col-md-2 form-group ">
												  <div class="form-check mr-sm-4">
													
													<label class="cont ">
														<input class="form-check-input " type="checkbox" id="autoSizingCheck">
													<label class="form-check-label mt-2" style="font-size: medium;" for="autoSizingCheck"> DTA</label>
														<span class="checkmark mt-2"></span>
													  </label>
													
														
												  </div>
											  </div>

											  <div class="col-md-4 form-group">
												{{form.fecha_fcrv_hta}}
											</div>
		
					  
				</div> 
							
				<div class="row mt-4 mb-2 ml-3 mr-3">
				
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4">
												
												<label class="cont ">
													{{form.pm}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">PM</label>
													<span class="checkmark mt-2"></span>
												  </label>
											</div>
								</div>
								
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4 ml-md-3">
												
												<label class="cont ">
													{{form.pr}}
												<label class="form-check-label mt-2" style="font-size: medium;" for=""> PR</label>
													<span class="checkmark mt-2"></span>
												  </label>
										</div>
								</div>
		
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4 ml-md-3">
												
												<label class="cont ">
													{{form.pv}}
													<label class="form-check-label mt-2" style="font-size: medium;" for="">PV</label>
													<span class="checkmark mt-2"></span>
												  </label>
									</div>
								</div>
								
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4 ml-md-3">
												
												<label class="cont ">
													{{form.pm_da}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">DA</label>
													<span class="checkmark mt-2"></span>
												  </label>
								</div>
								</div>
								
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4 ml-md-3">
												
												<label class="cont ">
													{{form.pr_dg}}
												<label class="form-check-label mt-2" style="font-size: medium;" for=""> DG</label>
													<span class="checkmark mt-2"></span>
												  </label>
							</div>
								</div>
								
								<div class="form-group col-md-2">
										<div class="form-check mr-sm-4 ml-md-3">
												
												<label class="cont ">
													{{form.pv_da}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">DA</label>
													<span class="checkmark mt-2"></span>
												  </label>
						</div>
								</div>
							  
					  
				</div>  
				
				<div class="row mt-4 ml-3 mr-4">
				
								  <div class="form-group col-md-2 ">
										<div class="form-check">
												
												<label class="cont ">
													{{form.pm_dg}}
													<label class="form-check-label mt-2" style="font-size: medium;" for="">DG</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								  </div>
								 <div class="form-group col-md-2">
										<div class="form-check">
												
												<label class="cont ">
													{{form.pr_cx}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
								 </div>
									  <div class="form-group col-md-2">
											<div class="form-check ">
													
													<label class="cont ">
														{{form.pv_dg}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">DG</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
									  </div>
										  <div class="form-group col-md-2">
												<div class="form-check">
														
														<label class="cont ">
															{{form.pm_cx}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
															<span class="checkmark mt-2"></span>
														  </label>
													  </div>
										  </div>
											  <div class="form-group col-md-2">
													<div class="form-check ">
															<input class="form-check-input sr-only " type="checkbox" id="autoSizingCheck">
															<label class="form-check-label ml-md-2" for="autoSizingCheck"></label>
															
														  </div>
											  </div>
												  <div class="form-group col-md-2">
														<div class="form-check">
																
																<label class="cont ">
																	{{form.pv_cx}}
																	<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
																	<span class="checkmark mt-2"></span>
																  </label>
															  </div> 
												  </div>
					  
				</div>  
		
		</fieldset>
</div>

<!-- --------------------------------------------------- -->	
	

<div class="row col-md-12 padre mt-md-5">

	
	<fieldset class="col-md-6 bordes1 mt-2 p-2 ml-4" style="background-color: #263238; color: white;">
		<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">ANTECEDENTES</legend>
		
					<div class="container">
						<div class="row mt-4 ml-4">
							<div class="form-group col-md-2">
									
											
											<label class="cont">
												{{form.infarto}}
											<label class="form-check-label mt-2" style="font-size: medium;" for="">INFARTO</label>
												<span class="checkmark mt-2"></span>
											  </label>
													  
									
							</div>
							<div class="form-group col-md-4">
								{{form.fecha_infarto_reciente}}	
							</div>

							<div class="form-group col-md-2">
									
											
											<label class="cont ">
												{{form.atc1}}
											<label class="form-check-label mt-2" style="font-size: medium;" for="">ATC</label>
												<span class="checkmark mt-2"></span>
											  </label>
										
							</div>
							<div class="form-group col-md-2">
									
											
											<label class="cont ">
												{{form.atc2}}
											<label class="form-check-label mt-2" style="font-size: medium;" for=""> ATC</label>
												<span class="checkmark mt-2"></span>
											  </label>
										
							</div>
							<div class="form-group col-md-2">
									
											
											<label class="cont ">
												{{form.atc3}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">ATC</label>
												<span class="checkmark mt-2"></span>
											  </label>
										
							</div>
							</div> 	
							
							<div class="row mt-3 ml-4">
							
						
									<div class="form-group col-md-2" >
											
											<label class="cont">
												{{form.atc1_da}}
											<label class="form-check-label mt-2" style="font-size: medium;" for="">DA</label>
												<span class="checkmark mt-2"></span>
											  </label>
										  </div>
										  <div class="form-group col-md-2">
												
												<label class="cont ">
													{{form.atc2_da}}
												<label class="form-check-label mt-2" style="font-size: medium;" for=""> DA</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
											  <div class="form-group col-md-2">
													
													<label class="cont ">
														{{form.atc3_da}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">DA</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
											  <div class="form-group col-md-2" >
												
												<label class="cont ">
													{{form.atc1_dg}}
												<label class="form-check-label mt-2" style="font-size: medium;" for="">DG</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
											  <div class="form-group col-md-2" >
													
													<label class="cont ">
														{{form.atc2_dg}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">DG</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
												  <div class="form-group col-md-2">
													
														<label class="cont ">
															{{form.atc3_dg}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">DG</label>
															<span class="checkmark mt-2"></span>
														  </label>
													  </div>
										 
							
							</div>
							
							<div class="row mt-3 ml-4">
							
							
											  <div class="form-group col-md-2 " >
												
												<label class="cont ">
													{{form.atc1_cx}}
													<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
													<span class="checkmark mt-2"></span>
												  </label>
											  </div>
											  <div class="form-group col-md-2 ">
													
													<label class="cont ">
														{{form.atc2_cx}}
														<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
														<span class="checkmark mt-2"></span>
													  </label>
												  </div>
												  
														<div class="form-group col-md-2">
														
														  <label class="cont ">
															{{form.atc3_cx}}
															<label class="form-check-label mt-2" style="font-size: medium;" for="">Cx</label>
															<span class="checkmark mt-2"></span>
														  </label>
														</div>
														<div class="form-group col-md-2" >
																
																<label class="cont ">
																	{{form.atc1_cd}}
																	<label class="form-check-label mt-2" style="font-size: medium;" for="">CD</label>
																	<span class="checkmark mt-2"></span>
																  </label>
															  </div>
															  <div class="form-group col-md-2 " >
																	
																	<label class="cont ">
																		{{form.atc2_cd}}
																		<label class="form-check-label mt-2" style="font-size: medium;" for="">CD</label>
																		<span class="checkmark mt-2"></span>
																	  </label>
																  </div>
																  <div class="form-group col-md-2" >
																		
																		<label class="cont ">
																			{{form.atc3_cd}}
																			<label class="form-check-label mt-2" style="font-size: medium;" for="">CD</label>
																			<span class="checkmark mt-2"></span>
																		  </label>
																	  </div>
							
							
								  
							</div> 
							
							<div class="row mt-3 ml-4">
							
							

											  <div class="form-group col-md-4">
													
															
															<label class="cont ">
																{{form.atc1_stent_bms}}
															<label class="form-check-label mt-2" style="font-size: medium;" for="">Stent BMS</label>
																<span class="checkmark mt-2"></span>
															  </label>
														  
											  </div>
											  <div class="form-group col-md-4">
													
															
															<label class="cont ">
																{{form.atc2_stent_bms}}
															<label class="form-check-label mt-2" style="font-size: medium;" for="">Stent BMS</label>
																<span class="checkmark mt-2"></span>
															  </label>
														 
											  </div>
												<div class="form-group col-md-4">
														
																
																<label class="cont ">
																	{{form.atc3_stent_bms}}
																<label class="form-check-label mt-2" style="font-size: medium;" for="">Stent BMS</label>
																	<span class="checkmark mt-2"></span>
																  </label>
															 
											</div>	  
							</div> 

							<div class="row mt-3 ml-4">

											<div class="form-group col-md-4">
													
															
															<label class="cont ">
																{{form.atc1_stent_des}}
																<label class="form-check-label mt-2" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
																<span class="checkmark mt-2"></span>
															  </label>
														  
											</div>
												<div class="form-group col-md-4">
														
																
																<label class="cont ">
																	{{form.atc2_stent_des}}
																	<label class="form-check-label mt-2" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
																	<span class="checkmark mt-2"></span>
																  </label>
															 
												</div>
												   <div class="form-group col-md-4">
														
																
																<label class="cont ">
																	{{form.atc3_stent_des}}
																	<label class="form-check-label mt-2" style="font-size: medium;" for="autoSizingCheck">Stent DES</label>
																	<span class="checkmark mt-2"></span>
																  </label>
																			 
												   </div>

							  </div> 
					</div>
</fieldset>					
<!-------------------------------------------------------------------------------------------------->
<fieldset class="col-md-4 ml-md-5 bordes1 mt-2 p-2 ml-4" style="background-color: #263238; color: white;">
	<legend class="bordes col-md-3" style="background-color: #009688; color: white;font-size: large;">OTROS</legend>
				
				<div class="row form-group col-md-12">
					{{form.otros_antecedentes}}
					<!-- <textarea class="form-control col-md-11 ml-4" rows="11" id="exampleFormControlTextarea6" placeholder="Escribe aquí..." name="otros_antecedentes"></textarea> -->
			</div>

			
			<div class="row d-flex">
					<div class=" form-group form-inline my-md-2 ml-auto mr-4 ">	
							{% if perms.antec.change_antecedentes %}
							<!-- <button class="btn btn-danger mr-md-4 ml-auto" > Cancelar</button> -->
							<button  class="btn btn-success ml-auto mt-2 mb-3 bordes1 mr-1"> Guardar</button>
							{% else %}
							<a href="{% url 'listaantecedentes' %}" class="btn btn-success ml-auto bordes1">Volver</a>
							{% endif %}	
					</div>
			</div>
		</fieldset>	
					
		
	
	
</div>


</div>
</form>
{% else %}
<div class="container mt-md-5 padre medio">
		<div class="row mt-md-5 ">
		<div class="mt-md-5">
			<div class="mt-md-5">
				<div class="card mt-md-5 col-md-12 bordes1" style="background-color: #263238; padding: 10px; top: 160px;">
					<h3 class="mt-md-5 mb-md-5" style="color:white;">Este usuario no está autenticado</h3>
					<div class="row padre medio">
					<a class="btn btn-success col-md-4 ml-md-3 mb-md-5" href=" /logout ">Login </a>
					</div> 
					</div>
			</div>
		</div>
		</div>
	   </div>
{% endif %}
</body>

{% endblock content %}